In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gun-violence-data_01-2013_03-2018.csv')

In [3]:
shortdf = df[['date', 'state', 'city_or_county', 'n_killed','n_injured']]

In [4]:
shortdf

,date,state,city_or_county,n_killed,n_injured
0,2013-01-01,Pennsylvania,Mckeesport,0,4
1,2013-01-01,California,Hawthorne,1,3
2,2013-01-01,Ohio,Lorain,1,3
3,2013-01-05,Colorado,Aurora,4,0
4,2013-01-07,North Carolina,Greensboro,2,2
5,2013-01-07,Oklahoma,Tulsa,4,0
6,2013-01-19,New Mexico,Albuquerque,5,0
7,2013-01-21,Louisiana,New Orleans,0,5
8,2013-01-21,California,Brentwood,0,4
9,2013-01-23,Maryland,Baltimore,1,6
10,2013-01-23,Tennessee,Chattanooga,1,3
11,2013-01-25,Missouri,Saint Louis,1,3
12,2013-01-26,Louisiana,Charenton,2,3
13,2013-01-26,District of Columbia,Washington,0,5
14,2013-01-26,Ohio,Springfield,1,3
15,2013-02-02,Tennessee,Memphis,0,5
16,2013-02-03,California,Yuba (county),1,3
17,2013-02-07,Illinois,Chicago,0,4
18,2013-02-09,Louisiana,New Orleans,0,4
19,2013-02-11,California,Vallejo,1,4
20,2013-02-11,Delaware,Wilmington,3,2
21,2013-02-12,Utah,Midvale,4,1
22,2013-02-19,California,Orange (county),4,3
23,2013-02-21,Oklahoma,Tulsa,1,3
24,2013-02-22,Michigan,Grand Rapids,0,4
25,2013-02-23,California,Lancaster,0,4
26,2013-02-24,Georgia,Macon,0,8
27,2013-03-02,Louisiana,Shreveport,1,3
28,2013-03-03,Georgia,Moultrie,2,2
29,2013-03-03,Michigan,Saginaw (county),0,4
...,...,...,...,...,...
239647,2018-03-31,Maine,Bangor,0,0
239648,2018-03-31,District of Columbia,Washington,0,0
239649,2018-03-31,Nevada,Las Vegas,0,0
239650,2018-03-31,California,Palmdale,1,0
239651,2018-03-31,Texas,Wichita Falls,0,1
239652,2018-03-31,Texas,Dallas,0,1
239653,2018-03-31,Nevada,Reno,1,0
239654,2018-03-31,Nevada,Reno,1,0
239655,2018-03-31,California,San Diego,0,0
239656,2018-03-31,New York,Rochester,1,0
239657,2018-03-31,California,Shafter,0,0
239658,2018-03-31,California,Oakland,1,0
239659,2018-03-31,Florida,Orlando,0,3
239660,2018-03-31,California,Stockton,2,0
239661,2018-03-31,North Carolina,Kings Mountain,0,4
239662,2018-03-31,Minnesota,Saint Paul,0,2
239663,2018-03-31,Oklahoma,Guthrie,1,0
239664,2018-03-31,Missouri,Festus,0,1
239665,2018-03-31,Missouri,Saint Clair,0,1
239666,2018-03-31,Missouri,Saint Louis,1,0
239667,2018-03-31,Tennessee,Memphis,0,1
239668,2018-03-31,Michigan,Detroit,0,1
239669,2018-03-31,Wisconsin,Madison,0,0
239670,2018-03-31,Illinois,Chicago,0,1
239671,2018-03-31,Washington,Spokane (Spokane Valley),0,0
239672,2018-03-31,Louisiana,Rayne,0,0
239673,2018-03-31,Louisiana,Natchitoches,1,0
239674,2018-03-31,Louisiana,Gretna,0,1
239675,2018-03-31,Texas,Houston,1,0
239676,2018-03-31,Maine,Norridgewock,2,0

In [5]:
shortdf['n_total'] = shortdf['n_killed'] + shortdf['n_injured']

C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
bracker_df = shortdf[shortdf['city_or_county'].str.contains('\(')]

In [7]:
shortdf = shortdf[~shortdf.date.str.contains("2013")]

In [8]:
shortdf

,date,state,city_or_county,n_killed,n_injured,n_total
278,2014-01-01,Michigan,Muskegon,0,0,0
279,2014-01-01,New Jersey,Newark,0,0,0
280,2014-01-01,New York,Queens,1,0,1
281,2014-01-01,New York,Brooklyn,0,1,1
282,2014-01-01,Missouri,Springfield,0,1,1
283,2014-01-01,Georgia,Columbus,0,1,1
284,2014-01-01,New York,Syracuse,0,1,1
285,2014-01-01,Kentucky,Lexington,0,0,0
286,2014-01-01,Georgia,Bibb County,0,1,1
287,2014-01-01,Virginia,Prince William County,0,1,1
288,2014-01-01,Pennsylvania,Philadelphia,0,1,1
289,2014-01-01,Virginia,Hampton,0,0,0
290,2014-01-01,South Carolina,North Charleston,1,0,1
291,2014-01-01,Maryland,Baltimore,0,0,0
292,2014-01-01,Delaware,Wilmington,1,0,1
293,2014-01-01,Colorado,Grand Junction,1,0,1
294,2014-01-01,South Carolina,North Charleston,0,1,1
295,2014-01-01,Missouri,Springfield,0,0,0
296,2014-01-01,Alabama,Huntsville,1,0,1
297,2014-01-01,New Jersey,Camden,0,1,1
298,2014-01-01,Louisiana,New Orleans,1,0,1
299,2014-01-01,Utah,Hurricane,0,1,1
300,2014-01-01,Indiana,Fort Wayne,0,1,1
301,2014-01-01,Louisiana,Marrero,1,0,1
302,2014-01-01,Illinois,Pinckneyville,0,0,0
303,2014-01-01,New York,Bronx,0,1,1
304,2014-01-01,Colorado,Canon City,0,1,1
305,2014-01-01,New York,Bronx,0,1,1
306,2014-01-01,Texas,Lubbock,0,2,2
307,2014-01-01,Nebraska,North Platte,0,0,0
...,...,...,...,...,...,...
239647,2018-03-31,Maine,Bangor,0,0,0
239648,2018-03-31,District of Columbia,Washington,0,0,0
239649,2018-03-31,Nevada,Las Vegas,0,0,0
239650,2018-03-31,California,Palmdale,1,0,1
239651,2018-03-31,Texas,Wichita Falls,0,1,1
239652,2018-03-31,Texas,Dallas,0,1,1
239653,2018-03-31,Nevada,Reno,1,0,1
239654,2018-03-31,Nevada,Reno,1,0,1
239655,2018-03-31,California,San Diego,0,0,0
239656,2018-03-31,New York,Rochester,1,0,1
239657,2018-03-31,California,Shafter,0,0,0
239658,2018-03-31,California,Oakland,1,0,1
239659,2018-03-31,Florida,Orlando,0,3,3
239660,2018-03-31,California,Stockton,2,0,2
239661,2018-03-31,North Carolina,Kings Mountain,0,4,4
239662,2018-03-31,Minnesota,Saint Paul,0,2,2
239663,2018-03-31,Oklahoma,Guthrie,1,0,1
239664,2018-03-31,Missouri,Festus,0,1,1
239665,2018-03-31,Missouri,Saint Clair,0,1,1
239666,2018-03-31,Missouri,Saint Louis,1,0,1
239667,2018-03-31,Tennessee,Memphis,0,1,1
239668,2018-03-31,Michigan,Detroit,0,1,1
239669,2018-03-31,Wisconsin,Madison,0,0,0
239670,2018-03-31,Illinois,Chicago,0,1,1
239671,2018-03-31,Washington,Spokane (Spokane Valley),0,0,0
239672,2018-03-31,Louisiana,Rayne,0,0,0
239673,2018-03-31,Louisiana,Natchitoches,1,0,1
239674,2018-03-31,Louisiana,Gretna,0,1,1
239675,2018-03-31,Texas,Houston,1,0,1
239676,2018-03-31,Maine,Norridgewock,2,0,2

In [11]:
shortdf = shortdf[~shortdf.city_or_county.str.contains('\(')]

In [12]:
shortdf

,date,state,city_or_county,n_killed,n_injured,n_total
278,2014-01-01,Michigan,Muskegon,0,0,0
279,2014-01-01,New Jersey,Newark,0,0,0
280,2014-01-01,New York,Queens,1,0,1
281,2014-01-01,New York,Brooklyn,0,1,1
282,2014-01-01,Missouri,Springfield,0,1,1
283,2014-01-01,Georgia,Columbus,0,1,1
284,2014-01-01,New York,Syracuse,0,1,1
285,2014-01-01,Kentucky,Lexington,0,0,0
286,2014-01-01,Georgia,Bibb County,0,1,1
287,2014-01-01,Virginia,Prince William County,0,1,1
288,2014-01-01,Pennsylvania,Philadelphia,0,1,1
289,2014-01-01,Virginia,Hampton,0,0,0
290,2014-01-01,South Carolina,North Charleston,1,0,1
291,2014-01-01,Maryland,Baltimore,0,0,0
292,2014-01-01,Delaware,Wilmington,1,0,1
293,2014-01-01,Colorado,Grand Junction,1,0,1
294,2014-01-01,South Carolina,North Charleston,0,1,1
295,2014-01-01,Missouri,Springfield,0,0,0
296,2014-01-01,Alabama,Huntsville,1,0,1
297,2014-01-01,New Jersey,Camden,0,1,1
298,2014-01-01,Louisiana,New Orleans,1,0,1
299,2014-01-01,Utah,Hurricane,0,1,1
300,2014-01-01,Indiana,Fort Wayne,0,1,1
301,2014-01-01,Louisiana,Marrero,1,0,1
302,2014-01-01,Illinois,Pinckneyville,0,0,0
303,2014-01-01,New York,Bronx,0,1,1
304,2014-01-01,Colorado,Canon City,0,1,1
305,2014-01-01,New York,Bronx,0,1,1
306,2014-01-01,Texas,Lubbock,0,2,2
307,2014-01-01,Nebraska,North Platte,0,0,0
...,...,...,...,...,...,...
239646,2018-03-31,Pennsylvania,Duquesne,1,0,1
239647,2018-03-31,Maine,Bangor,0,0,0
239648,2018-03-31,District of Columbia,Washington,0,0,0
239649,2018-03-31,Nevada,Las Vegas,0,0,0
239650,2018-03-31,California,Palmdale,1,0,1
239651,2018-03-31,Texas,Wichita Falls,0,1,1
239652,2018-03-31,Texas,Dallas,0,1,1
239653,2018-03-31,Nevada,Reno,1,0,1
239654,2018-03-31,Nevada,Reno,1,0,1
239655,2018-03-31,California,San Diego,0,0,0
239656,2018-03-31,New York,Rochester,1,0,1
239657,2018-03-31,California,Shafter,0,0,0
239658,2018-03-31,California,Oakland,1,0,1
239659,2018-03-31,Florida,Orlando,0,3,3
239660,2018-03-31,California,Stockton,2,0,2
239661,2018-03-31,North Carolina,Kings Mountain,0,4,4
239662,2018-03-31,Minnesota,Saint Paul,0,2,2
239663,2018-03-31,Oklahoma,Guthrie,1,0,1
239664,2018-03-31,Missouri,Festus,0,1,1
239665,2018-03-31,Missouri,Saint Clair,0,1,1
239666,2018-03-31,Missouri,Saint Louis,1,0,1
239667,2018-03-31,Tennessee,Memphis,0,1,1
239668,2018-03-31,Michigan,Detroit,0,1,1
239669,2018-03-31,Wisconsin,Madison,0,0,0
239670,2018-03-31,Illinois,Chicago,0,1,1
239672,2018-03-31,Louisiana,Rayne,0,0,0
239673,2018-03-31,Louisiana,Natchitoches,1,0,1
239674,2018-03-31,Louisiana,Gretna,0,1,1
239675,2018-03-31,Texas,Houston,1,0,1
239676,2018-03-31,Maine,Norridgewock,2,0,2

In [13]:
county_city_df_new = pd.read_csv('uscitiesv.csv')

C:\Users\Oleg\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
county_city_df_new = county_city_df_new[['city_ascii','state_name','state_id','county_name']]

In [17]:
merged_data = pd.merge(shortdf, county_city_df_new,  how='left', left_on=['state','city_or_county'], right_on = ['state_name','city_ascii'])

In [18]:
merged_data

,date,state,city_or_county,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
0,2014-01-01,Michigan,Muskegon,0,0,0,Muskegon,Michigan,MI,Muskegon
1,2014-01-01,New Jersey,Newark,0,0,0,Newark,New Jersey,NJ,Essex
2,2014-01-01,New York,Queens,1,0,1,Queens,New York,NY,Queens
3,2014-01-01,New York,Brooklyn,0,1,1,Brooklyn,New York,NY,Kings
4,2014-01-01,Missouri,Springfield,0,1,1,Springfield,Missouri,MO,Greene
5,2014-01-01,Georgia,Columbus,0,1,1,Columbus,Georgia,GA,Muscogee
6,2014-01-01,New York,Syracuse,0,1,1,Syracuse,New York,NY,Onondaga
7,2014-01-01,Kentucky,Lexington,0,0,0,Lexington,Kentucky,KY,Fayette
8,2014-01-01,Georgia,Bibb County,0,1,1,NaN,NaN,NaN,NaN
9,2014-01-01,Virginia,Prince William County,0,1,1,NaN,NaN,NaN,NaN
10,2014-01-01,Pennsylvania,Philadelphia,0,1,1,Philadelphia,Pennsylvania,PA,Philadelphia
11,2014-01-01,Virginia,Hampton,0,0,0,Hampton,Virginia,VA,Hampton (city)
12,2014-01-01,South Carolina,North Charleston,1,0,1,North Charleston,South Carolina,SC,Charleston
13,2014-01-01,Maryland,Baltimore,0,0,0,Baltimore,Maryland,MD,Baltimore (city)
14,2014-01-01,Delaware,Wilmington,1,0,1,Wilmington,Delaware,DE,New Castle
15,2014-01-01,Colorado,Grand Junction,1,0,1,Grand Junction,Colorado,CO,Mesa
16,2014-01-01,South Carolina,North Charleston,0,1,1,North Charleston,South Carolina,SC,Charleston
17,2014-01-01,Missouri,Springfield,0,0,0,Springfield,Missouri,MO,Greene
18,2014-01-01,Alabama,Huntsville,1,0,1,Huntsville,Alabama,AL,Madison
19,2014-01-01,New Jersey,Camden,0,1,1,Camden,New Jersey,NJ,Camden
20,2014-01-01,Louisiana,New Orleans,1,0,1,New Orleans,Louisiana,LA,Orleans
21,2014-01-01,Utah,Hurricane,0,1,1,Hurricane,Utah,UT,Washington
22,2014-01-01,Indiana,Fort Wayne,0,1,1,Fort Wayne,Indiana,IN,Allen
23,2014-01-01,Louisiana,Marrero,1,0,1,Marrero,Louisiana,LA,Jefferson
24,2014-01-01,Illinois,Pinckneyville,0,0,0,Pinckneyville,Illinois,IL,Perry
25,2014-01-01,New York,Bronx,0,1,1,Bronx,New York,NY,Bronx
26,2014-01-01,Colorado,Canon City,0,1,1,Canon City,Colorado,CO,Fremont
27,2014-01-01,New York,Bronx,0,1,1,Bronx,New York,NY,Bronx
28,2014-01-01,Texas,Lubbock,0,2,2,Lubbock,Texas,TX,Lubbock
29,2014-01-01,Nebraska,North Platte,0,0,0,North Platte,Nebraska,NE,Lincoln
...,...,...,...,...,...,...,...,...,...,...
227918,2018-03-31,Pennsylvania,Duquesne,1,0,1,Duquesne,Pennsylvania,PA,Allegheny
227919,2018-03-31,Maine,Bangor,0,0,0,Bangor,Maine,ME,Penobscot
227920,2018-03-31,District of Columbia,Washington,0,0,0,Washington,District of Columbia,DC,District of Columbia
227921,2018-03-31,Nevada,Las Vegas,0,0,0,Las Vegas,Nevada,NV,Clark
227922,2018-03-31,California,Palmdale,1,0,1,Palmdale,California,CA,Los Angeles
227923,2018-03-31,Texas,Wichita Falls,0,1,1,Wichita Falls,Texas,TX,Wichita
227924,2018-03-31,Texas,Dallas,0,1,1,Dallas,Texas,TX,Dallas
227925,2018-03-31,Nevada,Reno,1,0,1,Reno,Nevada,NV,Washoe
227926,2018-03-31,Nevada,Reno,1,0,1,Reno,Nevada,NV,Washoe
227927,2018-03-31,California,San Diego,0,0,0,San Diego,California,CA,San Diego
227928,2018-03-31,New York,Rochester,1,0,1,Rochester,New York,NY,Monroe
227929,2018-03-31,California,Shafter,0,0,0,Shafter,California,CA,Kern
227930,2018-03-31,California,Oakland,1,0,1,Oakland,California,CA,Alameda
227931,2018-03-31,Florida,Orlando,0,3,3,Orlando,Florida,FL,Orange
227932,2018-03-31,California,Stockton,2,0,2,Stockton,California,CA,San Joaquin
227933,2018-03-31,North Carolina,Kings Mountain,0,4,4,Kings Mountain,North Carolina,NC,Cleveland
227934,2018-03-31,Minnesota,Saint Paul,0,2,2,Saint Paul,Minnesota,MN,Ramsey
227935,2018-03-31,Oklahoma,Guthrie,1,0,1,Guthrie,Oklahoma,OK,Logan
227936,2018-03-31,Missouri,Festus,0,1,1,Festus,Missouri,MO,Jefferson
227937,2018-03-31,Missouri,Saint Clair,0,1,1,Saint Clair,Missouri,MO,Franklin
227938,2018-03-31,Missouri,Saint Louis,1,0,1,Saint Louis,Missouri,MO,St. Louis (city)
227939,2018-03-31,Tennessee,Memphis,0,1,1,Memphis,Tennessee,TN,Shelby
227940,2018-03-31,Michigan,Detroit,0,1,1,Detroit,Michigan,MI,Wayne
227941,2018-03-31,Wisconsin,Madison,0,0,0,Madison,Wisconsin,WI,Dane
227942,2018-03-31,Illinois,Chicago,0,1,1,Chicago,Illinois,IL,Cook
227943,2018-03-31,Louisiana,Rayne,0,0,0,Rayne,Louisiana,LA,Acadia
227944,2018-03-31,Louisiana,Natchitoches,1,0,1,Natchitoches,Louisiana,LA,Natchitoches
227945,2018-03-31,Louisiana,Gretna,0,1,1,Gretna,Louisiana,LA,Jefferson
227946,2018-03-31,Texas,Houston,1,0,1,Houston,Texas,TX,Harris
227947,2018-03-31,Maine,Norridgewock,2,0,2,Norridgewock,Maine,ME,Somerset

In [22]:
mergedNAN = merged_data[merged_data.isna().any(axis=1)]

In [25]:
merged_data = merged_data.dropna()

In [26]:
merged_data

,date,state,city_or_county,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
0,2014-01-01,Michigan,Muskegon,0,0,0,Muskegon,Michigan,MI,Muskegon
1,2014-01-01,New Jersey,Newark,0,0,0,Newark,New Jersey,NJ,Essex
2,2014-01-01,New York,Queens,1,0,1,Queens,New York,NY,Queens
3,2014-01-01,New York,Brooklyn,0,1,1,Brooklyn,New York,NY,Kings
4,2014-01-01,Missouri,Springfield,0,1,1,Springfield,Missouri,MO,Greene
5,2014-01-01,Georgia,Columbus,0,1,1,Columbus,Georgia,GA,Muscogee
6,2014-01-01,New York,Syracuse,0,1,1,Syracuse,New York,NY,Onondaga
7,2014-01-01,Kentucky,Lexington,0,0,0,Lexington,Kentucky,KY,Fayette
10,2014-01-01,Pennsylvania,Philadelphia,0,1,1,Philadelphia,Pennsylvania,PA,Philadelphia
11,2014-01-01,Virginia,Hampton,0,0,0,Hampton,Virginia,VA,Hampton (city)
12,2014-01-01,South Carolina,North Charleston,1,0,1,North Charleston,South Carolina,SC,Charleston
13,2014-01-01,Maryland,Baltimore,0,0,0,Baltimore,Maryland,MD,Baltimore (city)
14,2014-01-01,Delaware,Wilmington,1,0,1,Wilmington,Delaware,DE,New Castle
15,2014-01-01,Colorado,Grand Junction,1,0,1,Grand Junction,Colorado,CO,Mesa
16,2014-01-01,South Carolina,North Charleston,0,1,1,North Charleston,South Carolina,SC,Charleston
17,2014-01-01,Missouri,Springfield,0,0,0,Springfield,Missouri,MO,Greene
18,2014-01-01,Alabama,Huntsville,1,0,1,Huntsville,Alabama,AL,Madison
19,2014-01-01,New Jersey,Camden,0,1,1,Camden,New Jersey,NJ,Camden
20,2014-01-01,Louisiana,New Orleans,1,0,1,New Orleans,Louisiana,LA,Orleans
21,2014-01-01,Utah,Hurricane,0,1,1,Hurricane,Utah,UT,Washington
22,2014-01-01,Indiana,Fort Wayne,0,1,1,Fort Wayne,Indiana,IN,Allen
23,2014-01-01,Louisiana,Marrero,1,0,1,Marrero,Louisiana,LA,Jefferson
24,2014-01-01,Illinois,Pinckneyville,0,0,0,Pinckneyville,Illinois,IL,Perry
25,2014-01-01,New York,Bronx,0,1,1,Bronx,New York,NY,Bronx
26,2014-01-01,Colorado,Canon City,0,1,1,Canon City,Colorado,CO,Fremont
27,2014-01-01,New York,Bronx,0,1,1,Bronx,New York,NY,Bronx
28,2014-01-01,Texas,Lubbock,0,2,2,Lubbock,Texas,TX,Lubbock
29,2014-01-01,Nebraska,North Platte,0,0,0,North Platte,Nebraska,NE,Lincoln
30,2014-01-01,South Carolina,Johns Island,0,0,0,Johns Island,South Carolina,SC,Charleston
31,2014-01-01,Texas,Houston,0,0,0,Houston,Texas,TX,Harris
...,...,...,...,...,...,...,...,...,...,...
227918,2018-03-31,Pennsylvania,Duquesne,1,0,1,Duquesne,Pennsylvania,PA,Allegheny
227919,2018-03-31,Maine,Bangor,0,0,0,Bangor,Maine,ME,Penobscot
227920,2018-03-31,District of Columbia,Washington,0,0,0,Washington,District of Columbia,DC,District of Columbia
227921,2018-03-31,Nevada,Las Vegas,0,0,0,Las Vegas,Nevada,NV,Clark
227922,2018-03-31,California,Palmdale,1,0,1,Palmdale,California,CA,Los Angeles
227923,2018-03-31,Texas,Wichita Falls,0,1,1,Wichita Falls,Texas,TX,Wichita
227924,2018-03-31,Texas,Dallas,0,1,1,Dallas,Texas,TX,Dallas
227925,2018-03-31,Nevada,Reno,1,0,1,Reno,Nevada,NV,Washoe
227926,2018-03-31,Nevada,Reno,1,0,1,Reno,Nevada,NV,Washoe
227927,2018-03-31,California,San Diego,0,0,0,San Diego,California,CA,San Diego
227928,2018-03-31,New York,Rochester,1,0,1,Rochester,New York,NY,Monroe
227929,2018-03-31,California,Shafter,0,0,0,Shafter,California,CA,Kern
227930,2018-03-31,California,Oakland,1,0,1,Oakland,California,CA,Alameda
227931,2018-03-31,Florida,Orlando,0,3,3,Orlando,Florida,FL,Orange
227932,2018-03-31,California,Stockton,2,0,2,Stockton,California,CA,San Joaquin
227933,2018-03-31,North Carolina,Kings Mountain,0,4,4,Kings Mountain,North Carolina,NC,Cleveland
227934,2018-03-31,Minnesota,Saint Paul,0,2,2,Saint Paul,Minnesota,MN,Ramsey
227935,2018-03-31,Oklahoma,Guthrie,1,0,1,Guthrie,Oklahoma,OK,Logan
227936,2018-03-31,Missouri,Festus,0,1,1,Festus,Missouri,MO,Jefferson
227937,2018-03-31,Missouri,Saint Clair,0,1,1,Saint Clair,Missouri,MO,Franklin
227938,2018-03-31,Missouri,Saint Louis,1,0,1,Saint Louis,Missouri,MO,St. Louis (city)
227939,2018-03-31,Tennessee,Memphis,0,1,1,Memphis,Tennessee,TN,Shelby
227940,2018-03-31,Michigan,Detroit,0,1,1,Detroit,Michigan,MI,Wayne
227941,2018-03-31,Wisconsin,Madison,0,0,0,Madison,Wisconsin,WI,Dane
227942,2018-03-31,Illinois,Chicago,0,1,1,Chicago,Illinois,IL,Cook
227943,2018-03-31,Louisiana,Rayne,0,0,0,Rayne,Louisiana,LA,Acadia
227944,2018-03-31,Louisiana,Natchitoches,1,0,1,Natchitoches,Louisiana,LA,Natchitoches
227945,2018-03-31,Louisiana,Gretna,0,1,1,Gretna,Louisiana,LA,Jefferson
227946,2018-03-31,Texas,Houston,1,0,1,Houston,Texas,TX,Harris
227947,2018-03-31,Maine,Norridgewock,2,0,2,Norridgewock,Maine,ME,Somerset

In [27]:
mergedNAN

,date,state,city_or_county,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
8,2014-01-01,Georgia,Bibb County,0,1,1,NaN,NaN,NaN,NaN
9,2014-01-01,Virginia,Prince William County,0,1,1,NaN,NaN,NaN,NaN
42,2014-01-01,Alabama,Crenshaw,1,0,1,NaN,NaN,NaN,NaN
65,2014-01-01,North Carolina,Duplin County,0,1,1,NaN,NaN,NaN,NaN
85,2014-01-01,New Jersey,Gloucester Township,0,0,0,NaN,NaN,NaN,NaN
86,2014-01-01,New Jersey,Mount Laurel,0,2,2,NaN,NaN,NaN,NaN
87,2014-01-01,New Jersey,Belleville,0,0,0,NaN,NaN,NaN,NaN
92,2014-01-01,Mississippi,Franklin,0,0,0,NaN,NaN,NaN,NaN
104,2014-01-01,Oklahoma,Okmulgee County,0,2,2,NaN,NaN,NaN,NaN
120,2014-01-01,Connecticut,Cromwell,0,1,1,NaN,NaN,NaN,NaN
144,2014-01-01,Virginia,Russell County,1,0,1,NaN,NaN,NaN,NaN
173,2014-01-01,Kentucky,Leslie County,0,1,1,NaN,NaN,NaN,NaN
174,2014-01-01,Washington,Cape Horn,0,1,1,NaN,NaN,NaN,NaN
180,2014-01-01,Kentucky,Elliott County,0,1,1,NaN,NaN,NaN,NaN
189,2014-01-01,North Carolina,Davidson County,1,1,2,NaN,NaN,NaN,NaN
210,2014-01-01,North Carolina,Columbus County,1,0,1,NaN,NaN,NaN,NaN
212,2014-01-01,Ohio,Miami Township,0,0,0,NaN,NaN,NaN,NaN
215,2014-01-02,Maryland,Prince George's County,0,0,0,NaN,NaN,NaN,NaN
219,2014-01-02,California,Huntington,0,1,1,NaN,NaN,NaN,NaN
225,2014-01-02,Pennsylvania,Montgomery County,0,0,0,NaN,NaN,NaN,NaN
293,2014-01-02,Florida,Greenacres,0,1,1,NaN,NaN,NaN,NaN
304,2014-01-02,New Jersey,Burlington Township,0,0,0,NaN,NaN,NaN,NaN
324,2014-01-02,West Virginia,Boone County,2,0,2,NaN,NaN,NaN,NaN
325,2014-01-02,Nevada,Green Valley,0,2,2,NaN,NaN,NaN,NaN
332,2014-01-03,Texas,Harris County,0,0,0,NaN,NaN,NaN,NaN
381,2014-01-03,West Virginia,Wilkinson,0,1,1,NaN,NaN,NaN,NaN
407,2014-01-03,Montana,Yellowstone County,1,0,1,NaN,NaN,NaN,NaN
409,2014-01-03,North Carolina,Pitt County,0,0,0,NaN,NaN,NaN,NaN
413,2014-01-03,Washington,Yakima County,1,0,1,NaN,NaN,NaN,NaN
415,2014-01-03,Florida,Broward,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
226692,2018-03-23,Tennessee,Whites Creek,0,1,1,NaN,NaN,NaN,NaN
226757,2018-03-23,Arkansas,Valley Township,0,1,1,NaN,NaN,NaN,NaN
226825,2018-03-24,Florida,Opa Locka,0,1,1,NaN,NaN,NaN,NaN
226838,2018-03-24,Florida,Ocklawaha,0,1,1,NaN,NaN,NaN,NaN
226863,2018-03-24,Connecticut,Hamden,0,0,0,NaN,NaN,NaN,NaN
226867,2018-03-24,New Jersey,Maplewood,1,0,1,NaN,NaN,NaN,NaN
226869,2018-03-24,New Jersey,Irvington,1,1,2,NaN,NaN,NaN,NaN
226887,2018-03-24,Massachusetts,Tewksbury,0,0,0,NaN,NaN,NaN,NaN
226892,2018-03-24,Virginia,Keswick,1,0,1,NaN,NaN,NaN,NaN
226917,2018-03-24,California,Wilmington,1,0,1,NaN,NaN,NaN,NaN
226975,2018-03-24,Mississippi,Diberville,0,1,1,NaN,NaN,NaN,NaN
226991,2018-03-25,California,North Hollywood,0,0,0,NaN,NaN,NaN,NaN
227059,2018-03-25,Alaska,Barrow,1,0,1,NaN,NaN,NaN,NaN
227131,2018-03-25,Michigan,Leroy,0,0,0,NaN,NaN,NaN,NaN
227150,2018-03-26,New York,Fort Drum,0,1,1,NaN,NaN,NaN,NaN
227181,2018-03-26,Massachusetts,Charlton,0,0,0,NaN,NaN,NaN,NaN
227184,2018-03-26,Illinois,Owen,0,0,0,NaN,NaN,NaN,NaN
227188,2018-03-26,Alabama,Pine Bluff,1,0,1,NaN,NaN,NaN,NaN
227192,2018-03-26,Texas,Cypress,2,1,3,NaN,NaN,NaN,NaN
227195,2018-03-26,Wisconsin,Rockton,0,0,0,NaN,NaN,NaN,NaN
227349,2018-03-27,Connecticut,Wolcott,0,0,0,NaN,NaN,NaN,NaN
227483,2018-03-28,Tennessee,Hermitage,1,0,1,NaN,NaN,NaN,NaN
227493,2018-03-28,Michigan,South Shore,0,1,1,NaN,NaN,NaN,NaN
227514,2018-03-28,Georgia,Lagrange,0,0,0,NaN,NaN,NaN,NaN
227600,2018-03-29,Texas,Adkins,1,0,1,NaN,NaN,NaN,NaN
227648,2018-03-29,Tennessee,Madison,0,1,1,NaN,NaN,NaN,NaN
227663,2018-03-29,California,Tujunga,0,1,1,NaN,NaN,NaN,NaN
227790,2018-03-30,California,Granada Hills,0,0,0,NaN,NaN,NaN,NaN
227853,2018-03-31,Illinois,Dekalb,1,0,1,NaN,NaN,NaN,NaN
227865,2018-03-31,Virginia,St Paul,0,1,1,NaN,NaN,NaN,NaN

In [28]:
merged_data.to_csv('clean_merged.csv', index=False)

In [30]:
mergedNAN_county = mergedNAN[mergedNAN['city_or_county'].str.contains('County')]
# bracker_df = shortdf[shortdf['city_or_county'].str.contains('\(')]
# shortdf = shortdf[~shortdf.city_or_county.str.contains('\(')]

In [32]:
mergedNAN = mergedNAN[~mergedNAN.city_or_county.str.contains('County')]

In [34]:
mergedNAN_county['city_or_county'] = mergedNAN_county['city_or_county'].str[:-7]

C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
mergedNAN_county

,date,state,city_or_county,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
8,2014-01-01,Georgia,Bibb,0,1,1,NaN,NaN,NaN,NaN
9,2014-01-01,Virginia,Prince William,0,1,1,NaN,NaN,NaN,NaN
65,2014-01-01,North Carolina,Duplin,0,1,1,NaN,NaN,NaN,NaN
104,2014-01-01,Oklahoma,Okmulgee,0,2,2,NaN,NaN,NaN,NaN
144,2014-01-01,Virginia,Russell,1,0,1,NaN,NaN,NaN,NaN
173,2014-01-01,Kentucky,Leslie,0,1,1,NaN,NaN,NaN,NaN
180,2014-01-01,Kentucky,Elliott,0,1,1,NaN,NaN,NaN,NaN
189,2014-01-01,North Carolina,Davidson,1,1,2,NaN,NaN,NaN,NaN
210,2014-01-01,North Carolina,Columbus,1,0,1,NaN,NaN,NaN,NaN
215,2014-01-02,Maryland,Prince George's,0,0,0,NaN,NaN,NaN,NaN
225,2014-01-02,Pennsylvania,Montgomery,0,0,0,NaN,NaN,NaN,NaN
324,2014-01-02,West Virginia,Boone,2,0,2,NaN,NaN,NaN,NaN
332,2014-01-03,Texas,Harris,0,0,0,NaN,NaN,NaN,NaN
407,2014-01-03,Montana,Yellowstone,1,0,1,NaN,NaN,NaN,NaN
409,2014-01-03,North Carolina,Pitt,0,0,0,NaN,NaN,NaN,NaN
413,2014-01-03,Washington,Yakima,1,0,1,NaN,NaN,NaN,NaN
420,2014-01-03,Tennessee,Campbell,0,0,0,NaN,NaN,NaN,NaN
426,2014-01-03,South Carolina,Berkeley,0,0,0,NaN,NaN,NaN,NaN
442,2014-01-03,Mississippi,Jones,0,0,0,NaN,NaN,NaN,NaN
456,2014-01-04,Texas,Harris,0,0,0,NaN,NaN,NaN,NaN
513,2014-01-04,Kentucky,Boyd,0,0,0,NaN,NaN,NaN,NaN
516,2014-01-04,Texas,Bee,1,0,1,NaN,NaN,NaN,NaN
545,2014-01-04,New York,Monroe,0,3,3,NaN,NaN,NaN,NaN
577,2014-01-04,North Carolina,Guilford,0,0,0,NaN,NaN,NaN,NaN
631,2014-01-05,North Carolina,Onslow,1,0,1,NaN,NaN,NaN,NaN
651,2014-01-05,Delaware,New Castle,0,0,0,NaN,NaN,NaN,NaN
659,2014-01-05,Delaware,New Castle,0,0,0,NaN,NaN,NaN,NaN
741,2014-01-06,Kentucky,Muhlenberg,0,0,0,NaN,NaN,NaN,NaN
777,2014-01-06,Montana,Ravalli,2,0,2,NaN,NaN,NaN,NaN
798,2014-01-06,West Virginia,Harrison,1,0,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
64557,2015-04-12,Indiana,Harrison,0,1,1,NaN,NaN,NaN,NaN
64558,2015-04-12,Michigan,Genesee,0,0,0,NaN,NaN,NaN,NaN
64598,2015-04-12,Mississippi,Claiborne,0,1,1,NaN,NaN,NaN,NaN
64608,2015-04-12,Alabama,Lee,3,0,3,NaN,NaN,NaN,NaN
64610,2015-04-12,Alabama,Marshall,1,0,1,NaN,NaN,NaN,NaN
64628,2015-04-12,Tennessee,Knox,1,1,2,NaN,NaN,NaN,NaN
64664,2015-04-13,Missouri,Howell,0,1,1,NaN,NaN,NaN,NaN
64680,2015-04-13,Georgia,Cobb,0,1,1,NaN,NaN,NaN,NaN
64685,2015-04-13,Colorado,La Plata,1,0,1,NaN,NaN,NaN,NaN
64723,2015-04-13,Texas,Jefferson,0,0,0,NaN,NaN,NaN,NaN
64726,2015-04-13,West Virginia,Lincoln,0,1,1,NaN,NaN,NaN,NaN
64747,2015-04-13,Florida,Orange,0,1,1,NaN,NaN,NaN,NaN
64833,2015-04-14,Mississippi,Copiah,1,0,1,NaN,NaN,NaN,NaN
64835,2015-04-14,Tennessee,Clay,2,1,3,NaN,NaN,NaN,NaN
64872,2015-04-14,Mississippi,Lincoln,0,1,1,NaN,NaN,NaN,NaN
64939,2015-04-14,Wisconsin,Washington,0,0,0,NaN,NaN,NaN,NaN
64948,2015-04-15,Texas,Harris,1,0,1,NaN,NaN,NaN,NaN
64951,2015-04-15,South Carolina,Orangeburg,0,1,1,NaN,NaN,NaN,NaN
65006,2015-04-15,Florida,Polk,0,0,0,NaN,NaN,NaN,NaN
65069,2015-04-15,Tennessee,Shelby,0,1,1,NaN,NaN,NaN,NaN
65126,2015-04-16,North Carolina,Surry,1,0,1,NaN,NaN,NaN,NaN
65208,2015-04-16,Texas,Bastrop,1,0,1,NaN,NaN,NaN,NaN
65219,2015-04-16,Texas,Harris,1,1,2,NaN,NaN,NaN,NaN
65277,2015-04-17,Ohio,Brown,1,0,1,NaN,NaN,NaN,NaN
65385,2015-04-17,Alabama,Jefferson,0,1,1,NaN,NaN,NaN,NaN
65399,2015-04-17,Texas,Bexar,0,1,1,NaN,NaN,NaN,NaN
65800,2015-04-20,Texas,Harris,0,1,1,NaN,NaN,NaN,NaN
66595,2015-04-27,Florida,Orange,0,1,1,NaN,NaN,NaN,NaN
69143,2015-05-13,Oklahoma,Pottawatomie,0,1,1,NaN,NaN,NaN,NaN
128803,2016-07-09,Missouri,South,1,0,1,NaN,NaN,NaN,NaN

In [37]:
mergedNAN_county['county_name'] = mergedNAN_county['city_or_county']

C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
mergedNAN_county

,date,state,city_or_county,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
8,2014-01-01,Georgia,Bibb,0,1,1,NaN,NaN,NaN,Bibb
9,2014-01-01,Virginia,Prince William,0,1,1,NaN,NaN,NaN,Prince William
65,2014-01-01,North Carolina,Duplin,0,1,1,NaN,NaN,NaN,Duplin
104,2014-01-01,Oklahoma,Okmulgee,0,2,2,NaN,NaN,NaN,Okmulgee
144,2014-01-01,Virginia,Russell,1,0,1,NaN,NaN,NaN,Russell
173,2014-01-01,Kentucky,Leslie,0,1,1,NaN,NaN,NaN,Leslie
180,2014-01-01,Kentucky,Elliott,0,1,1,NaN,NaN,NaN,Elliott
189,2014-01-01,North Carolina,Davidson,1,1,2,NaN,NaN,NaN,Davidson
210,2014-01-01,North Carolina,Columbus,1,0,1,NaN,NaN,NaN,Columbus
215,2014-01-02,Maryland,Prince George's,0,0,0,NaN,NaN,NaN,Prince George's
225,2014-01-02,Pennsylvania,Montgomery,0,0,0,NaN,NaN,NaN,Montgomery
324,2014-01-02,West Virginia,Boone,2,0,2,NaN,NaN,NaN,Boone
332,2014-01-03,Texas,Harris,0,0,0,NaN,NaN,NaN,Harris
407,2014-01-03,Montana,Yellowstone,1,0,1,NaN,NaN,NaN,Yellowstone
409,2014-01-03,North Carolina,Pitt,0,0,0,NaN,NaN,NaN,Pitt
413,2014-01-03,Washington,Yakima,1,0,1,NaN,NaN,NaN,Yakima
420,2014-01-03,Tennessee,Campbell,0,0,0,NaN,NaN,NaN,Campbell
426,2014-01-03,South Carolina,Berkeley,0,0,0,NaN,NaN,NaN,Berkeley
442,2014-01-03,Mississippi,Jones,0,0,0,NaN,NaN,NaN,Jones
456,2014-01-04,Texas,Harris,0,0,0,NaN,NaN,NaN,Harris
513,2014-01-04,Kentucky,Boyd,0,0,0,NaN,NaN,NaN,Boyd
516,2014-01-04,Texas,Bee,1,0,1,NaN,NaN,NaN,Bee
545,2014-01-04,New York,Monroe,0,3,3,NaN,NaN,NaN,Monroe
577,2014-01-04,North Carolina,Guilford,0,0,0,NaN,NaN,NaN,Guilford
631,2014-01-05,North Carolina,Onslow,1,0,1,NaN,NaN,NaN,Onslow
651,2014-01-05,Delaware,New Castle,0,0,0,NaN,NaN,NaN,New Castle
659,2014-01-05,Delaware,New Castle,0,0,0,NaN,NaN,NaN,New Castle
741,2014-01-06,Kentucky,Muhlenberg,0,0,0,NaN,NaN,NaN,Muhlenberg
777,2014-01-06,Montana,Ravalli,2,0,2,NaN,NaN,NaN,Ravalli
798,2014-01-06,West Virginia,Harrison,1,0,1,NaN,NaN,NaN,Harrison
...,...,...,...,...,...,...,...,...,...,...
64557,2015-04-12,Indiana,Harrison,0,1,1,NaN,NaN,NaN,Harrison
64558,2015-04-12,Michigan,Genesee,0,0,0,NaN,NaN,NaN,Genesee
64598,2015-04-12,Mississippi,Claiborne,0,1,1,NaN,NaN,NaN,Claiborne
64608,2015-04-12,Alabama,Lee,3,0,3,NaN,NaN,NaN,Lee
64610,2015-04-12,Alabama,Marshall,1,0,1,NaN,NaN,NaN,Marshall
64628,2015-04-12,Tennessee,Knox,1,1,2,NaN,NaN,NaN,Knox
64664,2015-04-13,Missouri,Howell,0,1,1,NaN,NaN,NaN,Howell
64680,2015-04-13,Georgia,Cobb,0,1,1,NaN,NaN,NaN,Cobb
64685,2015-04-13,Colorado,La Plata,1,0,1,NaN,NaN,NaN,La Plata
64723,2015-04-13,Texas,Jefferson,0,0,0,NaN,NaN,NaN,Jefferson
64726,2015-04-13,West Virginia,Lincoln,0,1,1,NaN,NaN,NaN,Lincoln
64747,2015-04-13,Florida,Orange,0,1,1,NaN,NaN,NaN,Orange
64833,2015-04-14,Mississippi,Copiah,1,0,1,NaN,NaN,NaN,Copiah
64835,2015-04-14,Tennessee,Clay,2,1,3,NaN,NaN,NaN,Clay
64872,2015-04-14,Mississippi,Lincoln,0,1,1,NaN,NaN,NaN,Lincoln
64939,2015-04-14,Wisconsin,Washington,0,0,0,NaN,NaN,NaN,Washington
64948,2015-04-15,Texas,Harris,1,0,1,NaN,NaN,NaN,Harris
64951,2015-04-15,South Carolina,Orangeburg,0,1,1,NaN,NaN,NaN,Orangeburg
65006,2015-04-15,Florida,Polk,0,0,0,NaN,NaN,NaN,Polk
65069,2015-04-15,Tennessee,Shelby,0,1,1,NaN,NaN,NaN,Shelby
65126,2015-04-16,North Carolina,Surry,1,0,1,NaN,NaN,NaN,Surry
65208,2015-04-16,Texas,Bastrop,1,0,1,NaN,NaN,NaN,Bastrop
65219,2015-04-16,Texas,Harris,1,1,2,NaN,NaN,NaN,Harris
65277,2015-04-17,Ohio,Brown,1,0,1,NaN,NaN,NaN,Brown
65385,2015-04-17,Alabama,Jefferson,0,1,1,NaN,NaN,NaN,Jefferson
65399,2015-04-17,Texas,Bexar,0,1,1,NaN,NaN,NaN,Bexar
65800,2015-04-20,Texas,Harris,0,1,1,NaN,NaN,NaN,Harris
66595,2015-04-27,Florida,Orange,0,1,1,NaN,NaN,NaN,Orange
69143,2015-05-13,Oklahoma,Pottawatomie,0,1,1,NaN,NaN,NaN,Pottawatomie
128803,2016-07-09,Missouri,South,1,0,1,NaN,NaN,NaN,South

In [39]:
mergedNAN_county.to_csv('NANwithCounty.csv', index=False)

In [41]:
mergedNAN = mergedNAN[['date', 'state', 'city_or_county', 'n_killed', 'n_injured', 'n_total']]

In [47]:
counties_unique = county_city_df_new['county_name'].unique()

In [52]:
counties_unique_df = pd.DataFrame(counties_unique, columns=['county'])

In [53]:
counties_unique_df

            county
0           Pierce
1           Skagit
2            Lewis
3           Kitsap
4           Chelan
5         Franklin
6          Lincoln
7            Adams
8             King
9          Pacific
10          Yakima
11        Okanogan
12         Spokane
13       Snohomish
14        Kittitas
15           Grant
16         Douglas
17       Klickitat
18         Whitman
19        Thurston
20        San Juan
21       Wahkiakum
22           Clark
23       Jefferson
24    Grays Harbor
25         Whatcom
26         Stevens
27          Island
28     Walla Walla
29         Cowlitz
...            ...
1900         Tripp
1901    Fall River
1902        McCook
1903   Charles Mix
1904       Ziebach
1905     Kingsbury
1906       Yankton
1907     Codington
1908        Hamlin
1909         Brule
1910     Bon Homme
1911        Aurora
1912       Sanborn
1913         Moody
1914     Minnehaha
1915         Spink
1916         Miner
1917         Lyman
1918      Mellette
1919       Stanley
1920         Faulk
1921          Hand
1922        Haakon
1923       Gregory
1924        Hanson
1925        Beadle
1926       Bennett
1927           Day
1928       Davison
1929         Sully

[1930 rows x 1 columns]

In [51]:
mergedNAN

,date,state,city_or_county,n_killed,n_injured,n_total
42,2014-01-01,Alabama,Crenshaw,1,0,1
85,2014-01-01,New Jersey,Gloucester Township,0,0,0
86,2014-01-01,New Jersey,Mount Laurel,0,2,2
87,2014-01-01,New Jersey,Belleville,0,0,0
92,2014-01-01,Mississippi,Franklin,0,0,0
120,2014-01-01,Connecticut,Cromwell,0,1,1
174,2014-01-01,Washington,Cape Horn,0,1,1
212,2014-01-01,Ohio,Miami Township,0,0,0
219,2014-01-02,California,Huntington,0,1,1
293,2014-01-02,Florida,Greenacres,0,1,1
304,2014-01-02,New Jersey,Burlington Township,0,0,0
325,2014-01-02,Nevada,Green Valley,0,2,2
381,2014-01-03,West Virginia,Wilkinson,0,1,1
415,2014-01-03,Florida,Broward,0,0,0
453,2014-01-03,Florida,Defuniak Springs,0,0,0
460,2014-01-04,Arkansas,Leflore,0,0,0
480,2014-01-04,Louisiana,Iberia Parish,0,1,1
509,2014-01-04,Florida,Broward,0,0,0
549,2014-01-04,New York,Mendon,0,2,2
569,2014-01-04,Virginia,Henrico,0,1,1
583,2014-01-04,New York,Mendon,0,1,1
601,2014-01-05,Massachusetts,Leicester,0,0,0
615,2014-01-05,Maryland,Lothian,0,1,1
644,2014-01-05,Virginia,Henrico,0,0,0
647,2014-01-05,Ohio,Erie,1,3,4
661,2014-01-05,Florida,Charlotte,0,0,0
668,2014-01-05,New Jersey,Orange,0,1,1
669,2014-01-05,Maryland,Washington,0,0,0
759,2014-01-06,Louisiana,Bossier,0,0,0
766,2014-01-06,Maryland,Hanover,0,0,0
...,...,...,...,...,...,...
226692,2018-03-23,Tennessee,Whites Creek,0,1,1
226757,2018-03-23,Arkansas,Valley Township,0,1,1
226825,2018-03-24,Florida,Opa Locka,0,1,1
226838,2018-03-24,Florida,Ocklawaha,0,1,1
226863,2018-03-24,Connecticut,Hamden,0,0,0
226867,2018-03-24,New Jersey,Maplewood,1,0,1
226869,2018-03-24,New Jersey,Irvington,1,1,2
226887,2018-03-24,Massachusetts,Tewksbury,0,0,0
226892,2018-03-24,Virginia,Keswick,1,0,1
226917,2018-03-24,California,Wilmington,1,0,1
226975,2018-03-24,Mississippi,Diberville,0,1,1
226991,2018-03-25,California,North Hollywood,0,0,0
227059,2018-03-25,Alaska,Barrow,1,0,1
227131,2018-03-25,Michigan,Leroy,0,0,0
227150,2018-03-26,New York,Fort Drum,0,1,1
227181,2018-03-26,Massachusetts,Charlton,0,0,0
227184,2018-03-26,Illinois,Owen,0,0,0
227188,2018-03-26,Alabama,Pine Bluff,1,0,1
227192,2018-03-26,Texas,Cypress,2,1,3
227195,2018-03-26,Wisconsin,Rockton,0,0,0
227349,2018-03-27,Connecticut,Wolcott,0,0,0
227483,2018-03-28,Tennessee,Hermitage,1,0,1
227493,2018-03-28,Michigan,South Shore,0,1,1
227514,2018-03-28,Georgia,Lagrange,0,0,0
227600,2018-03-29,Texas,Adkins,1,0,1
227648,2018-03-29,Tennessee,Madison,0,1,1
227663,2018-03-29,California,Tujunga,0,1,1
227790,2018-03-30,California,Granada Hills,0,0,0
227853,2018-03-31,Illinois,Dekalb,1,0,1
227865,2018-03-31,Virginia,St Paul,0,1,1

In [54]:
mergedNAN_on_county = pd.merge(mergedNAN, counties_unique_df,  how='left', left_on=['city_or_county'], right_on = ['county'])

In [55]:
mergedNAN_on_county

,date,state,city_or_county,n_killed,n_injured,n_total,county
0,2014-01-01,Alabama,Crenshaw,1,0,1,Crenshaw
1,2014-01-01,New Jersey,Gloucester Township,0,0,0,NaN
2,2014-01-01,New Jersey,Mount Laurel,0,2,2,NaN
3,2014-01-01,New Jersey,Belleville,0,0,0,NaN
4,2014-01-01,Mississippi,Franklin,0,0,0,Franklin
5,2014-01-01,Connecticut,Cromwell,0,1,1,NaN
6,2014-01-01,Washington,Cape Horn,0,1,1,NaN
7,2014-01-01,Ohio,Miami Township,0,0,0,NaN
8,2014-01-02,California,Huntington,0,1,1,Huntington
9,2014-01-02,Florida,Greenacres,0,1,1,NaN
10,2014-01-02,New Jersey,Burlington Township,0,0,0,NaN
11,2014-01-02,Nevada,Green Valley,0,2,2,NaN
12,2014-01-03,West Virginia,Wilkinson,0,1,1,Wilkinson
13,2014-01-03,Florida,Broward,0,0,0,Broward
14,2014-01-03,Florida,Defuniak Springs,0,0,0,NaN
15,2014-01-04,Arkansas,Leflore,0,0,0,Leflore
16,2014-01-04,Louisiana,Iberia Parish,0,1,1,NaN
17,2014-01-04,Florida,Broward,0,0,0,Broward
18,2014-01-04,New York,Mendon,0,2,2,NaN
19,2014-01-04,Virginia,Henrico,0,1,1,Henrico
20,2014-01-04,New York,Mendon,0,1,1,NaN
21,2014-01-05,Massachusetts,Leicester,0,0,0,NaN
22,2014-01-05,Maryland,Lothian,0,1,1,NaN
23,2014-01-05,Virginia,Henrico,0,0,0,Henrico
24,2014-01-05,Ohio,Erie,1,3,4,Erie
25,2014-01-05,Florida,Charlotte,0,0,0,Charlotte
26,2014-01-05,New Jersey,Orange,0,1,1,Orange
27,2014-01-05,Maryland,Washington,0,0,0,Washington
28,2014-01-06,Louisiana,Bossier,0,0,0,Bossier
29,2014-01-06,Maryland,Hanover,0,0,0,Hanover
...,...,...,...,...,...,...,...
6462,2018-03-23,Tennessee,Whites Creek,0,1,1,NaN
6463,2018-03-23,Arkansas,Valley Township,0,1,1,NaN
6464,2018-03-24,Florida,Opa Locka,0,1,1,NaN
6465,2018-03-24,Florida,Ocklawaha,0,1,1,NaN
6466,2018-03-24,Connecticut,Hamden,0,0,0,NaN
6467,2018-03-24,New Jersey,Maplewood,1,0,1,NaN
6468,2018-03-24,New Jersey,Irvington,1,1,2,NaN
6469,2018-03-24,Massachusetts,Tewksbury,0,0,0,NaN
6470,2018-03-24,Virginia,Keswick,1,0,1,NaN
6471,2018-03-24,California,Wilmington,1,0,1,NaN
6472,2018-03-24,Mississippi,Diberville,0,1,1,NaN
6473,2018-03-25,California,North Hollywood,0,0,0,NaN
6474,2018-03-25,Alaska,Barrow,1,0,1,Barrow
6475,2018-03-25,Michigan,Leroy,0,0,0,NaN
6476,2018-03-26,New York,Fort Drum,0,1,1,NaN
6477,2018-03-26,Massachusetts,Charlton,0,0,0,Charlton
6478,2018-03-26,Illinois,Owen,0,0,0,Owen
6479,2018-03-26,Alabama,Pine Bluff,1,0,1,NaN
6480,2018-03-26,Texas,Cypress,2,1,3,NaN
6481,2018-03-26,Wisconsin,Rockton,0,0,0,NaN
6482,2018-03-27,Connecticut,Wolcott,0,0,0,NaN
6483,2018-03-28,Tennessee,Hermitage,1,0,1,NaN
6484,2018-03-28,Michigan,South Shore,0,1,1,NaN
6485,2018-03-28,Georgia,Lagrange,0,0,0,NaN
6486,2018-03-29,Texas,Adkins,1,0,1,NaN
6487,2018-03-29,Tennessee,Madison,0,1,1,Madison
6488,2018-03-29,California,Tujunga,0,1,1,NaN
6489,2018-03-30,California,Granada Hills,0,0,0,NaN
6490,2018-03-31,Illinois,Dekalb,1,0,1,NaN
6491,2018-03-31,Virginia,St Paul,0,1,1,NaN

In [56]:
mergedNAN_on_county_remainings = mergedNAN_on_county.dropna()

In [57]:
mergedNAN_on_county_remainings

,date,state,city_or_county,n_killed,n_injured,n_total,county
0,2014-01-01,Alabama,Crenshaw,1,0,1,Crenshaw
4,2014-01-01,Mississippi,Franklin,0,0,0,Franklin
8,2014-01-02,California,Huntington,0,1,1,Huntington
12,2014-01-03,West Virginia,Wilkinson,0,1,1,Wilkinson
13,2014-01-03,Florida,Broward,0,0,0,Broward
15,2014-01-04,Arkansas,Leflore,0,0,0,Leflore
17,2014-01-04,Florida,Broward,0,0,0,Broward
19,2014-01-04,Virginia,Henrico,0,1,1,Henrico
23,2014-01-05,Virginia,Henrico,0,0,0,Henrico
24,2014-01-05,Ohio,Erie,1,3,4,Erie
25,2014-01-05,Florida,Charlotte,0,0,0,Charlotte
26,2014-01-05,New Jersey,Orange,0,1,1,Orange
27,2014-01-05,Maryland,Washington,0,0,0,Washington
28,2014-01-06,Louisiana,Bossier,0,0,0,Bossier
29,2014-01-06,Maryland,Hanover,0,0,0,Hanover
31,2014-01-07,Florida,Broward,0,0,0,Broward
41,2014-01-08,New York,Amherst,0,0,0,Amherst
44,2014-01-09,Florida,Manatee,0,0,0,Manatee
51,2014-01-10,Florida,Collier,0,0,0,Collier
53,2014-01-10,Florida,Bay,0,0,0,Bay
63,2014-01-12,Florida,Miami-Dade,1,0,1,Miami-Dade
64,2014-01-12,Alabama,Blount,1,0,1,Blount
65,2014-01-12,New Hampshire,Windham,0,0,0,Windham
67,2014-01-12,Alabama,Tallapoosa,1,0,1,Tallapoosa
71,2014-01-13,Virginia,Henrico,0,0,0,Henrico
72,2014-01-13,Mississippi,Claiborne,1,0,1,Claiborne
76,2014-01-13,California,Mesa,0,1,1,Mesa
77,2014-01-13,Virginia,York,0,0,0,York
78,2014-01-13,Maryland,Hanover,0,0,0,Hanover
87,2014-01-14,New York,Clay,0,0,0,Clay
...,...,...,...,...,...,...,...
6231,2018-01-19,Indiana,Tippecanoe,0,0,0,Tippecanoe
6239,2018-01-20,New Hampshire,Lee,0,1,1,Lee
6244,2018-01-21,Connecticut,Oxford,0,0,0,Oxford
6257,2018-01-25,Virginia,Hayes,0,1,1,Hayes
6263,2018-01-27,Massachusetts,Lancaster,0,0,0,Lancaster
6266,2018-01-28,Tennessee,Madison,0,1,1,Madison
6268,2018-01-28,Georgia,Cobb,0,0,0,Cobb
6274,2018-01-30,South Dakota,Black Hawk,0,1,1,Black Hawk
6278,2018-01-31,Connecticut,Guilford,1,0,1,Guilford
6280,2018-01-31,Georgia,Winston,0,1,1,Winston
6293,2018-02-03,New Hampshire,Merrimack,0,0,0,Merrimack
6308,2018-02-09,New York,Sterling,0,0,0,Sterling
6326,2018-02-14,Tennessee,Madison,0,0,0,Madison
6342,2018-02-19,Maine,Jay,0,0,0,Jay
6346,2018-02-19,Connecticut,Fairfield,0,0,0,Fairfield
6349,2018-02-20,Connecticut,Essex,2,0,2,Essex
6367,2018-02-27,Pennsylvania,Pittsburg,0,0,0,Pittsburg
6373,2018-02-28,Tennessee,Madison,0,0,0,Madison
6378,2018-03-02,Delaware,Lincoln,0,0,0,Lincoln
6381,2018-03-04,New Jersey,Jackson,1,0,1,Jackson
6383,2018-03-04,Massachusetts,Weston,0,0,0,Weston
6403,2018-03-11,Connecticut,Fairfield,0,0,0,Fairfield
6404,2018-03-12,Tennessee,Madison,0,0,0,Madison
6405,2018-03-12,Tennessee,Madison,0,0,0,Madison
6433,2018-03-16,Virginia,Henrico,0,0,0,Henrico
6453,2018-03-21,Maryland,Faulkner,0,1,1,Faulkner
6474,2018-03-25,Alaska,Barrow,1,0,1,Barrow
6477,2018-03-26,Massachusetts,Charlton,0,0,0,Charlton
6478,2018-03-26,Illinois,Owen,0,0,0,Owen
6487,2018-03-29,Tennessee,Madison,0,1,1,Madison

In [58]:
mergedNAN_on_county_remainings.to_csv('MonCounty.csv')

In [59]:
remainings = mergedNAN_on_county[mergedNAN_on_county.isna().any(axis=1)]

In [61]:
remainings.to_csv('remainings.csv')

In [62]:
bracker_df

,date,state,city_or_county,n_killed,n_injured,n_total
16,2013-02-03,California,Yuba (county),1,3,4
22,2013-02-19,California,Orange (county),4,3,7
29,2013-03-03,Michigan,Saginaw (county),0,4,4
44,2013-03-30,California,Merced (county),3,2,5
47,2013-04-07,New York,New York (Manhattan),1,3,4
55,2013-04-22,Illinois,Chicago (Englewood),0,4,4
140,2013-07-13,New Jersey,Trenton (Hamilton Township),1,4,5
141,2013-07-14,Michigan,Grand Rapids (Kentwood),0,5,5
224,2013-10-21,Pennsylvania,Pittsburgh (Homewood),2,5,7
232,2013-10-29,South Carolina,Bradley (Callison),5,0,5
263,2013-12-15,Florida,Homestead (Florida City),1,3,4
478,2014-01-01,Michigan,Detroit (Redford Charter Township),1,2,3
479,2014-01-01,Louisiana,Richland Parish (county),0,1,1
590,2014-01-02,Ohio,Cincinnati (Evanston),1,0,1
841,2014-01-04,Florida,Orlando (Pine Hills),0,1,1
949,2014-01-05,Georgia,Atlanta (College Park),0,2,2
1123,2014-01-07,Virginia,Loudoun (county),2,1,3
1196,2014-01-07,New York,Ronkonkoma (Lake Ronkonkoma),0,0,0
1535,2014-01-10,Minnesota,Saint Paul (West Saint Paul),0,0,0
1930,2014-01-13,Louisiana,Westwego (Avondale),0,1,1
2166,2014-01-14,Nebraska,Omaha (Ralston),0,0,0
2173,2014-01-14,Texas,Parker (county),0,1,1
2185,2014-01-14,Ohio,Cincinnati (Lincoln Heights),0,2,2
2287,2014-01-15,Pennsylvania,Pittsburgh (Crafton),2,0,2
2634,2014-01-17,Kentucky,Paducah (Reidland),1,0,1
2944,2014-01-19,Louisiana,Gretna (Terrytown),0,1,1
3101,2014-01-20,Louisiana,Westwego (Bridge City),0,2,2
3392,2014-01-22,Wisconsin,Oconomowoc (Summit),1,0,1
3412,2014-01-22,Illinois,Chicago Heights (Ford Heights),1,0,1
3472,2014-01-23,Georgia,Suwanee (Johns Creek),0,0,0
...,...,...,...,...,...,...
238958,2018-03-26,Oklahoma,Oklahoma City (Del City),0,1,1
238969,2018-03-26,California,Long Beach (North Long Beach),0,0,0
238981,2018-03-26,Minnesota,Walker (Leech Lake),0,0,0
238991,2018-03-27,New York,Corona (Queens),0,0,0
238992,2018-03-27,Kansas,Dickinson (county),1,0,1
239031,2018-03-27,California,Riverside (Jurupa Valley),1,0,1
239109,2018-03-27,Maryland,Gaithersburg (Laytonsville),0,0,0
239128,2018-03-28,Washington,Seattle (Burien),2,0,2
239141,2018-03-28,Florida,Palm Beach Gardens (Riviera Beach),0,1,1
239143,2018-03-28,Michigan,Branch (county),0,1,1
239153,2018-03-28,Wyoming,Jackson (Jackson Hole),0,0,0
239170,2018-03-28,Kansas,Wichita (Park City),0,0,0
239218,2018-03-28,Wisconsin,Milwaukee (Wauwatosa),0,0,0
239250,2018-03-28,Maryland,Upper Marlboro (Largo),1,0,1
239277,2018-03-28,Vermont,Bellows Falls (Rockingham),0,1,1
239335,2018-03-29,Utah,Salt Lake City (Murray),2,0,2
239391,2018-03-29,Georgia,Troup (county),0,1,1
239400,2018-03-29,Oregon,Cowlitz (county),0,0,0
239411,2018-03-29,Florida,Homestead (Florida City),0,1,1
239453,2018-03-30,Indiana,Indianapolis (Lawrence),1,0,1
239455,2018-03-30,North Carolina,Winston Salem (Winston-salem),1,0,1
239458,2018-03-30,Oklahoma,Oklahoma City (Del City),0,1,1
239473,2018-03-30,New York,Corona (Queens),0,1,1
239515,2018-03-30,Arkansas,Hot Springs National Park (Hot Springs),0,0,0
239536,2018-03-30,Florida,Fort Lauderdale (Lauderhill),0,1,1
239543,2018-03-30,Missouri,Chaffee (Allenville),1,0,1
239564,2018-03-31,Georgia,Chattooga (county),0,1,1
239625,2018-03-31,Maryland,Capitol Heights (Seat Pleasant),0,0,0
239644,2018-03-31,New York,Spencerport (Ogden),0,1,1
239671,2018-03-31,Washington,Spokane (Spokane Valley),0,0,0

In [63]:
bracker_df_county = bracker_df[bracker_df['city_or_county'].str.contains('county')]

In [65]:
bracker_df = bracker_df[~bracker_df.city_or_county.str.contains('county')]

In [68]:
bracker_df_county['city_or_county'] = bracker_df_county['city_or_county'].str[:-9]

C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
bracker_df_county['county'] = bracker_df_county['city_or_county']
bracker_df_county

C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,date,state,city_or_county,n_killed,n_injured,n_total,county
16,2013-02-03,California,Yuba,1,3,4,Yuba
22,2013-02-19,California,Orange,4,3,7,Orange
29,2013-03-03,Michigan,Saginaw,0,4,4,Saginaw
44,2013-03-30,California,Merced,3,2,5,Merced
479,2014-01-01,Louisiana,Richland Parish,0,1,1,Richland Parish
1123,2014-01-07,Virginia,Loudoun,2,1,3,Loudoun
2173,2014-01-14,Texas,Parker,0,1,1,Parker
3942,2014-01-26,New Mexico,Bernalillo,0,1,1,Bernalillo
4263,2014-01-28,Oregon,Lane,0,0,0,Lane
5323,2014-02-06,Montana,Flathead,0,1,1,Flathead
6063,2014-02-12,Washington,Thurston,1,0,1,Thurston
6487,2014-02-17,Indiana,Warrick,1,0,1,Warrick
6774,2014-02-19,Indiana,Allen,0,0,0,Allen
6791,2014-02-19,Kentucky,Wolfe,0,1,1,Wolfe
9815,2014-03-19,Virginia,Russell,0,1,1,Russell
12346,2014-04-08,Texas,Jim Wells,1,0,1,Jim Wells
12803,2014-04-12,Nebraska,York,0,0,0,York
13964,2014-04-20,Texas,Gaines,0,2,2,Gaines
14391,2014-04-24,Illinois,Williamson,0,0,0,Williamson
15901,2014-05-05,Ohio,Muskingum,1,0,1,Muskingum
17235,2014-05-16,Florida,Orange,0,0,0,Orange
18624,2014-05-25,Pennsylvania,Tioga,0,0,0,Tioga
20694,2014-06-08,New Mexico,Dona Ana,0,0,0,Dona Ana
21274,2014-06-12,Illinois,Sangamon,0,0,0,Sangamon
22690,2014-06-22,Idaho,Kootenai County,0,1,1,Kootenai County
23784,2014-06-29,Florida,Escambia,0,1,1,Escambia
24441,2014-07-04,Missouri,Saint Charles,0,0,0,Saint Charles
24661,2014-07-05,Idaho,Shoshone,0,1,1,Shoshone
26738,2014-07-17,Texas,Bell,1,0,1,Bell
28240,2014-07-26,Arizona,Maricopa,0,1,1,Maricopa
...,...,...,...,...,...,...,...
236240,2018-03-09,New Jersey,Ocean,0,0,0,Ocean
236322,2018-03-10,Oklahoma,Pontotoc,0,0,0,Pontotoc
236341,2018-03-10,Texas,Gregg,0,0,0,Gregg
236411,2018-03-10,Mississippi,Jones,1,0,1,Jones
236428,2018-03-11,South Carolina,Calhoun,0,0,0,Calhoun
236445,2018-03-11,Indiana,Vigo,0,0,0,Vigo
236706,2018-03-12,Oklahoma,Love,0,0,0,Love
236762,2018-03-13,Alabama,Russell,0,0,0,Russell
236942,2018-03-14,Colorado,Jefferson,0,0,0,Jefferson
237075,2018-03-15,Michigan,Saginaw,0,0,0,Saginaw
237143,2018-03-15,Tennessee,Sullivan,0,0,0,Sullivan
237162,2018-03-15,Indiana,Lagrange,0,0,0,Lagrange
237370,2018-03-17,Minnesota,Chisago,0,0,0,Chisago
237510,2018-03-17,Mississippi,Monroe,1,0,1,Monroe
237523,2018-03-17,New York,Orleans,0,0,0,Orleans
237654,2018-03-18,Georgia,Dawson,0,0,0,Dawson
238204,2018-03-22,Texas,Grayson,0,1,1,Grayson
238367,2018-03-23,Mississippi,Rankin,0,0,0,Rankin
238524,2018-03-24,California,Santa Cruz,0,0,0,Santa Cruz
238584,2018-03-24,Indiana,Fulton,0,2,2,Fulton
238618,2018-03-24,California,Marin,0,0,0,Marin
238717,2018-03-25,South Carolina,Darlington,0,1,1,Darlington
238814,2018-03-25,Maryland,Carroll,0,0,0,Carroll
238830,2018-03-25,Florida,Baker,0,0,0,Baker
238928,2018-03-26,Georgia,Warren,0,0,0,Warren
238992,2018-03-27,Kansas,Dickinson,1,0,1,Dickinson
239143,2018-03-28,Michigan,Branch,0,1,1,Branch
239391,2018-03-29,Georgia,Troup,0,1,1,Troup
239400,2018-03-29,Oregon,Cowlitz,0,0,0,Cowlitz
239564,2018-03-31,Georgia,Chattooga,0,1,1,Chattooga

In [71]:
bracker_df_county.to_csv('county_in_brackers.csv')

In [72]:
bracker_df

,date,state,city_or_county,n_killed,n_injured,n_total
47,2013-04-07,New York,New York (Manhattan),1,3,4
55,2013-04-22,Illinois,Chicago (Englewood),0,4,4
140,2013-07-13,New Jersey,Trenton (Hamilton Township),1,4,5
141,2013-07-14,Michigan,Grand Rapids (Kentwood),0,5,5
224,2013-10-21,Pennsylvania,Pittsburgh (Homewood),2,5,7
232,2013-10-29,South Carolina,Bradley (Callison),5,0,5
263,2013-12-15,Florida,Homestead (Florida City),1,3,4
478,2014-01-01,Michigan,Detroit (Redford Charter Township),1,2,3
590,2014-01-02,Ohio,Cincinnati (Evanston),1,0,1
841,2014-01-04,Florida,Orlando (Pine Hills),0,1,1
949,2014-01-05,Georgia,Atlanta (College Park),0,2,2
1196,2014-01-07,New York,Ronkonkoma (Lake Ronkonkoma),0,0,0
1535,2014-01-10,Minnesota,Saint Paul (West Saint Paul),0,0,0
1930,2014-01-13,Louisiana,Westwego (Avondale),0,1,1
2166,2014-01-14,Nebraska,Omaha (Ralston),0,0,0
2185,2014-01-14,Ohio,Cincinnati (Lincoln Heights),0,2,2
2287,2014-01-15,Pennsylvania,Pittsburgh (Crafton),2,0,2
2634,2014-01-17,Kentucky,Paducah (Reidland),1,0,1
2944,2014-01-19,Louisiana,Gretna (Terrytown),0,1,1
3101,2014-01-20,Louisiana,Westwego (Bridge City),0,2,2
3392,2014-01-22,Wisconsin,Oconomowoc (Summit),1,0,1
3412,2014-01-22,Illinois,Chicago Heights (Ford Heights),1,0,1
3472,2014-01-23,Georgia,Suwanee (Johns Creek),0,0,0
3474,2014-01-23,Ohio,Columbus (Bexley),1,0,1
4080,2014-01-27,New Jersey,Neptune (Neptune City),0,1,1
4254,2014-01-28,Illinois,Dekalb (DeKalb),1,1,2
4398,2014-01-30,Ohio,Cleveland (Cleveland Heights),0,1,1
4976,2014-02-03,Maryland,Hyattsville (Chillum),0,1,1
4990,2014-02-03,Virginia,Mc Lean (Mclean),1,0,1
5198,2014-02-04,New York,Rochester (Irondequoit),0,0,0
...,...,...,...,...,...,...
238714,2018-03-25,Missouri,Ballwin (Wildwood),1,0,1
238737,2018-03-25,Michigan,Memphis (Riley Township),1,0,1
238789,2018-03-25,Wisconsin,Madison (Fitchburg),0,0,0
238803,2018-03-25,Minnesota,Saint Paul (Maplewood),0,1,1
238856,2018-03-26,Missouri,Saint Louis (Jennings),0,3,3
238958,2018-03-26,Oklahoma,Oklahoma City (Del City),0,1,1
238969,2018-03-26,California,Long Beach (North Long Beach),0,0,0
238981,2018-03-26,Minnesota,Walker (Leech Lake),0,0,0
238991,2018-03-27,New York,Corona (Queens),0,0,0
239031,2018-03-27,California,Riverside (Jurupa Valley),1,0,1
239109,2018-03-27,Maryland,Gaithersburg (Laytonsville),0,0,0
239128,2018-03-28,Washington,Seattle (Burien),2,0,2
239141,2018-03-28,Florida,Palm Beach Gardens (Riviera Beach),0,1,1
239153,2018-03-28,Wyoming,Jackson (Jackson Hole),0,0,0
239170,2018-03-28,Kansas,Wichita (Park City),0,0,0
239218,2018-03-28,Wisconsin,Milwaukee (Wauwatosa),0,0,0
239250,2018-03-28,Maryland,Upper Marlboro (Largo),1,0,1
239277,2018-03-28,Vermont,Bellows Falls (Rockingham),0,1,1
239335,2018-03-29,Utah,Salt Lake City (Murray),2,0,2
239411,2018-03-29,Florida,Homestead (Florida City),0,1,1
239453,2018-03-30,Indiana,Indianapolis (Lawrence),1,0,1
239455,2018-03-30,North Carolina,Winston Salem (Winston-salem),1,0,1
239458,2018-03-30,Oklahoma,Oklahoma City (Del City),0,1,1
239473,2018-03-30,New York,Corona (Queens),0,1,1
239515,2018-03-30,Arkansas,Hot Springs National Park (Hot Springs),0,0,0
239536,2018-03-30,Florida,Fort Lauderdale (Lauderhill),0,1,1
239543,2018-03-30,Missouri,Chaffee (Allenville),1,0,1
239625,2018-03-31,Maryland,Capitol Heights (Seat Pleasant),0,0,0
239644,2018-03-31,New York,Spencerport (Ogden),0,1,1
239671,2018-03-31,Washington,Spokane (Spokane Valley),0,0,0

In [75]:
bracker_df.city_or_county = bracker_df.city_or_county.str.extract('([\s\w]*)\(*')

C:\Users\Oleg\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [82]:
# bracker_df['citi'] = bracker_df['citi'][:-3]
bracker_df

,date,state,city_or_county,n_killed,n_injured,n_total,citi
47,2013-04-07,New York,New York,1,3,4,New York
55,2013-04-22,Illinois,Chicago,0,4,4,Chicago
140,2013-07-13,New Jersey,Trenton,1,4,5,Trenton
141,2013-07-14,Michigan,Grand Rapids,0,5,5,Grand Rapids
224,2013-10-21,Pennsylvania,Pittsburgh,2,5,7,Pittsburgh
232,2013-10-29,South Carolina,Bradley,5,0,5,Bradley
263,2013-12-15,Florida,Homestead,1,3,4,Homestead
478,2014-01-01,Michigan,Detroit,1,2,3,Detroit
590,2014-01-02,Ohio,Cincinnati,1,0,1,Cincinnati
841,2014-01-04,Florida,Orlando,0,1,1,Orlando
949,2014-01-05,Georgia,Atlanta,0,2,2,Atlanta
1196,2014-01-07,New York,Ronkonkoma,0,0,0,Ronkonkoma
1535,2014-01-10,Minnesota,Saint Paul,0,0,0,Saint Paul
1930,2014-01-13,Louisiana,Westwego,0,1,1,Westwego
2166,2014-01-14,Nebraska,Omaha,0,0,0,Omaha
2185,2014-01-14,Ohio,Cincinnati,0,2,2,Cincinnati
2287,2014-01-15,Pennsylvania,Pittsburgh,2,0,2,Pittsburgh
2634,2014-01-17,Kentucky,Paducah,1,0,1,Paducah
2944,2014-01-19,Louisiana,Gretna,0,1,1,Gretna
3101,2014-01-20,Louisiana,Westwego,0,2,2,Westwego
3392,2014-01-22,Wisconsin,Oconomowoc,1,0,1,Oconomowoc
3412,2014-01-22,Illinois,Chicago Heights,1,0,1,Chicago Heights
3472,2014-01-23,Georgia,Suwanee,0,0,0,Suwanee
3474,2014-01-23,Ohio,Columbus,1,0,1,Columbus
4080,2014-01-27,New Jersey,Neptune,0,1,1,Neptune
4254,2014-01-28,Illinois,Dekalb,1,1,2,Dekalb
4398,2014-01-30,Ohio,Cleveland,0,1,1,Cleveland
4976,2014-02-03,Maryland,Hyattsville,0,1,1,Hyattsville
4990,2014-02-03,Virginia,Mc Lean,1,0,1,Mc Lean
5198,2014-02-04,New York,Rochester,0,0,0,Rochester
...,...,...,...,...,...,...,...
238714,2018-03-25,Missouri,Ballwin,1,0,1,Ballwin
238737,2018-03-25,Michigan,Memphis,1,0,1,Memphis
238789,2018-03-25,Wisconsin,Madison,0,0,0,Madison
238803,2018-03-25,Minnesota,Saint Paul,0,1,1,Saint Paul
238856,2018-03-26,Missouri,Saint Louis,0,3,3,Saint Louis
238958,2018-03-26,Oklahoma,Oklahoma City,0,1,1,Oklahoma City
238969,2018-03-26,California,Long Beach,0,0,0,Long Beach
238981,2018-03-26,Minnesota,Walker,0,0,0,Walker
238991,2018-03-27,New York,Corona,0,0,0,Corona
239031,2018-03-27,California,Riverside,1,0,1,Riverside
239109,2018-03-27,Maryland,Gaithersburg,0,0,0,Gaithersburg
239128,2018-03-28,Washington,Seattle,2,0,2,Seattle
239141,2018-03-28,Florida,Palm Beach Gardens,0,1,1,Palm Beach Gardens
239153,2018-03-28,Wyoming,Jackson,0,0,0,Jackson
239170,2018-03-28,Kansas,Wichita,0,0,0,Wichita
239218,2018-03-28,Wisconsin,Milwaukee,0,0,0,Milwaukee
239250,2018-03-28,Maryland,Upper Marlboro,1,0,1,Upper Marlboro
239277,2018-03-28,Vermont,Bellows Falls,0,1,1,Bellows Falls
239335,2018-03-29,Utah,Salt Lake City,2,0,2,Salt Lake City
239411,2018-03-29,Florida,Homestead,0,1,1,Homestead
239453,2018-03-30,Indiana,Indianapolis,1,0,1,Indianapolis
239455,2018-03-30,North Carolina,Winston Salem,1,0,1,Winston Salem
239458,2018-03-30,Oklahoma,Oklahoma City,0,1,1,Oklahoma City
239473,2018-03-30,New York,Corona,0,1,1,Corona
239515,2018-03-30,Arkansas,Hot Springs National Park,0,0,0,Hot Springs National Park
239536,2018-03-30,Florida,Fort Lauderdale,0,1,1,Fort Lauderdale
239543,2018-03-30,Missouri,Chaffee,1,0,1,Chaffee
239625,2018-03-31,Maryland,Capitol Heights,0,0,0,NaN
239644,2018-03-31,New York,Spencerport,0,1,1,NaN
239671,2018-03-31,Washington,Spokane,0,0,0,NaN

In [84]:
bracker_df.to_csv('test.csv')

In [85]:
df = pd.read_csv('test2.csv')

In [87]:
df = df[['date', 'state', 'my_citi', 'n_killed', 'n_injured', 'n_total']]

In [91]:
merged_data_4 = pd.merge(df, county_city_df_new,  how='left', left_on=['state','my_citi'], right_on = ['state_name','city_ascii'])

In [92]:
merged_data_4

,date,state,my_citi,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
0,4/7/2013,New York,New York,1,3,4,New York,New York,NY,New York
1,4/22/2013,Illinois,Chicago,0,4,4,Chicago,Illinois,IL,Cook
2,7/13/2013,New Jersey,Trenton,1,4,5,Trenton,New Jersey,NJ,Mercer
3,7/14/2013,Michigan,Grand Rapids,0,5,5,Grand Rapids,Michigan,MI,Kent
4,10/21/2013,Pennsylvania,Pittsburgh,2,5,7,Pittsburgh,Pennsylvania,PA,Allegheny
5,10/29/2013,South Carolina,Bradley,5,0,5,Bradley,South Carolina,SC,Greenwood
6,12/15/2013,Florida,Homestead,1,3,4,Homestead,Florida,FL,Miami-Dade
7,1/1/2014,Michigan,Detroit,1,2,3,Detroit,Michigan,MI,Wayne
8,1/2/2014,Ohio,Cincinnati,1,0,1,Cincinnati,Ohio,OH,Hamilton
9,1/4/2014,Florida,Orlando,0,1,1,Orlando,Florida,FL,Orange
10,1/5/2014,Georgia,Atlanta,0,2,2,Atlanta,Georgia,GA,Fulton
11,1/7/2014,New York,Ronkonkoma,0,0,0,Ronkonkoma,New York,NY,Suffolk
12,1/10/2014,Minnesota,Saint Paul,0,0,0,Saint Paul,Minnesota,MN,Ramsey
13,1/13/2014,Louisiana,Westwego,0,1,1,Westwego,Louisiana,LA,Jefferson
14,1/14/2014,Nebraska,Omaha,0,0,0,Omaha,Nebraska,NE,Douglas
15,1/14/2014,Ohio,Cincinnati,0,2,2,Cincinnati,Ohio,OH,Hamilton
16,1/15/2014,Pennsylvania,Pittsburgh,2,0,2,Pittsburgh,Pennsylvania,PA,Allegheny
17,1/17/2014,Kentucky,Paducah,1,0,1,Paducah,Kentucky,KY,McCracken
18,1/19/2014,Louisiana,Gretna,0,1,1,Gretna,Louisiana,LA,Jefferson
19,1/20/2014,Louisiana,Westwego,0,2,2,Westwego,Louisiana,LA,Jefferson
20,1/22/2014,Wisconsin,Oconomowoc,1,0,1,Oconomowoc,Wisconsin,WI,Waukesha
21,1/22/2014,Illinois,Chicago Heights,1,0,1,Chicago Heights,Illinois,IL,Cook
22,1/23/2014,Georgia,Suwanee,0,0,0,Suwanee,Georgia,GA,Gwinnett
23,1/23/2014,Ohio,Columbus,1,0,1,Columbus,Ohio,OH,Franklin
24,1/27/2014,New Jersey,Neptune,0,1,1,NaN,NaN,NaN,NaN
25,1/28/2014,Illinois,Dekalb,1,1,2,NaN,NaN,NaN,NaN
26,1/30/2014,Ohio,Cleveland,0,1,1,Cleveland,Ohio,OH,Cuyahoga
27,2/3/2014,Maryland,Hyattsville,0,1,1,Hyattsville,Maryland,MD,Prince George's
28,2/3/2014,Virginia,Mc Lean,1,0,1,NaN,NaN,NaN,NaN
29,2/4/2014,New York,Rochester,0,0,0,Rochester,New York,NY,Monroe
...,...,...,...,...,...,...,...,...,...,...
7576,3/25/2018,Missouri,Ballwin,1,0,1,Ballwin,Missouri,MO,St. Louis
7577,3/25/2018,Michigan,Memphis,1,0,1,Memphis,Michigan,MI,Macomb
7578,3/25/2018,Wisconsin,Madison,0,0,0,Madison,Wisconsin,WI,Dane
7579,3/25/2018,Minnesota,Saint Paul,0,1,1,Saint Paul,Minnesota,MN,Ramsey
7580,3/26/2018,Missouri,Saint Louis,0,3,3,Saint Louis,Missouri,MO,St. Louis (city)
7581,3/26/2018,Oklahoma,Oklahoma City,0,1,1,Oklahoma City,Oklahoma,OK,Oklahoma
7582,3/26/2018,California,Long Beach,0,0,0,Long Beach,California,CA,Los Angeles
7583,3/26/2018,Minnesota,Walker,0,0,0,Walker,Minnesota,MN,Cass
7584,3/27/2018,New York,Corona,0,0,0,NaN,NaN,NaN,NaN
7585,3/27/2018,California,Riverside,1,0,1,Riverside,California,CA,Riverside
7586,3/27/2018,Maryland,Gaithersburg,0,0,0,Gaithersburg,Maryland,MD,Montgomery
7587,3/28/2018,Washington,Seattle,2,0,2,Seattle,Washington,WA,King
7588,3/28/2018,Florida,Palm Beach Gardens,0,1,1,Palm Beach Gardens,Florida,FL,Palm Beach
7589,3/28/2018,Wyoming,Jackson,0,0,0,Jackson,Wyoming,WY,Teton
7590,3/28/2018,Kansas,Wichita,0,0,0,Wichita,Kansas,KS,Sedgwick
7591,3/28/2018,Wisconsin,Milwaukee,0,0,0,Milwaukee,Wisconsin,WI,Milwaukee
7592,3/28/2018,Maryland,Upper Marlboro,1,0,1,Upper Marlboro,Maryland,MD,Prince George's
7593,3/28/2018,Vermont,Bellows Falls,0,1,1,Bellows Falls,Vermont,VT,Windham
7594,3/29/2018,Utah,Salt Lake City,2,0,2,Salt Lake City,Utah,UT,Salt Lake
7595,3/29/2018,Florida,Homestead,0,1,1,Homestead,Florida,FL,Miami-Dade
7596,3/30/2018,Indiana,Indianapolis,1,0,1,Indianapolis,Indiana,IN,Marion
7597,3/30/2018,North Carolina,Winston Salem,1,0,1,NaN,NaN,NaN,NaN
7598,3/30/2018,Oklahoma,Oklahoma City,0,1,1,Oklahoma City,Oklahoma,OK,Oklahoma
7599,3/30/2018,New York,Corona,0,1,1,NaN,NaN,NaN,NaN
7600,3/30/2018,Arkansas,Hot Springs National Park,0,0,0,NaN,NaN,NaN,NaN
7601,3/30/2018,Florida,Fort Lauderdale,0,1,1,Fort Lauderdale,Florida,FL,Broward
7602,3/30/2018,Missouri,Chaffee,1,0,1,Chaffee,Missouri,MO,Scott
7603,3/31/2018,Maryland,#VALUE!,0,0,0,NaN,NaN,NaN,NaN
7604,3/31/2018,New York,#VALUE!,0,1,1,NaN,NaN,NaN,NaN
7605,3/31/2018,Washington,#VALUE!,0,0,0,NaN,NaN,NaN,NaN

In [93]:
merged_data_5 = merged_data_4.dropna()

In [94]:
merged_data_5

,date,state,my_citi,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
0,4/7/2013,New York,New York,1,3,4,New York,New York,NY,New York
1,4/22/2013,Illinois,Chicago,0,4,4,Chicago,Illinois,IL,Cook
2,7/13/2013,New Jersey,Trenton,1,4,5,Trenton,New Jersey,NJ,Mercer
3,7/14/2013,Michigan,Grand Rapids,0,5,5,Grand Rapids,Michigan,MI,Kent
4,10/21/2013,Pennsylvania,Pittsburgh,2,5,7,Pittsburgh,Pennsylvania,PA,Allegheny
5,10/29/2013,South Carolina,Bradley,5,0,5,Bradley,South Carolina,SC,Greenwood
6,12/15/2013,Florida,Homestead,1,3,4,Homestead,Florida,FL,Miami-Dade
7,1/1/2014,Michigan,Detroit,1,2,3,Detroit,Michigan,MI,Wayne
8,1/2/2014,Ohio,Cincinnati,1,0,1,Cincinnati,Ohio,OH,Hamilton
9,1/4/2014,Florida,Orlando,0,1,1,Orlando,Florida,FL,Orange
10,1/5/2014,Georgia,Atlanta,0,2,2,Atlanta,Georgia,GA,Fulton
11,1/7/2014,New York,Ronkonkoma,0,0,0,Ronkonkoma,New York,NY,Suffolk
12,1/10/2014,Minnesota,Saint Paul,0,0,0,Saint Paul,Minnesota,MN,Ramsey
13,1/13/2014,Louisiana,Westwego,0,1,1,Westwego,Louisiana,LA,Jefferson
14,1/14/2014,Nebraska,Omaha,0,0,0,Omaha,Nebraska,NE,Douglas
15,1/14/2014,Ohio,Cincinnati,0,2,2,Cincinnati,Ohio,OH,Hamilton
16,1/15/2014,Pennsylvania,Pittsburgh,2,0,2,Pittsburgh,Pennsylvania,PA,Allegheny
17,1/17/2014,Kentucky,Paducah,1,0,1,Paducah,Kentucky,KY,McCracken
18,1/19/2014,Louisiana,Gretna,0,1,1,Gretna,Louisiana,LA,Jefferson
19,1/20/2014,Louisiana,Westwego,0,2,2,Westwego,Louisiana,LA,Jefferson
20,1/22/2014,Wisconsin,Oconomowoc,1,0,1,Oconomowoc,Wisconsin,WI,Waukesha
21,1/22/2014,Illinois,Chicago Heights,1,0,1,Chicago Heights,Illinois,IL,Cook
22,1/23/2014,Georgia,Suwanee,0,0,0,Suwanee,Georgia,GA,Gwinnett
23,1/23/2014,Ohio,Columbus,1,0,1,Columbus,Ohio,OH,Franklin
26,1/30/2014,Ohio,Cleveland,0,1,1,Cleveland,Ohio,OH,Cuyahoga
27,2/3/2014,Maryland,Hyattsville,0,1,1,Hyattsville,Maryland,MD,Prince George's
29,2/4/2014,New York,Rochester,0,0,0,Rochester,New York,NY,Monroe
30,2/6/2014,Arkansas,De Valls Bluff,1,0,1,De Valls Bluff,Arkansas,AR,Prairie
31,2/7/2014,South Carolina,Fort Mill,0,1,1,Fort Mill,South Carolina,SC,York
32,2/8/2014,Ohio,Cincinnati,0,0,0,Cincinnati,Ohio,OH,Hamilton
...,...,...,...,...,...,...,...,...,...,...
7565,3/24/2018,New York,New York,0,1,1,New York,New York,NY,New York
7567,3/24/2018,New Jersey,Trenton,1,0,1,Trenton,New Jersey,NJ,Mercer
7568,3/24/2018,Ohio,Chagrin Falls,0,0,0,Chagrin Falls,Ohio,OH,Cuyahoga
7570,3/24/2018,Utah,Salt Lake City,0,1,1,Salt Lake City,Utah,UT,Salt Lake
7572,3/24/2018,Utah,Salt Lake City,0,4,4,Salt Lake City,Utah,UT,Salt Lake
7573,3/24/2018,Pennsylvania,Easton,0,1,1,Easton,Pennsylvania,PA,Northampton
7574,3/24/2018,Alaska,Anchor Point,1,0,1,Anchor Point,Alaska,AK,Kenai Peninsula
7576,3/25/2018,Missouri,Ballwin,1,0,1,Ballwin,Missouri,MO,St. Louis
7577,3/25/2018,Michigan,Memphis,1,0,1,Memphis,Michigan,MI,Macomb
7578,3/25/2018,Wisconsin,Madison,0,0,0,Madison,Wisconsin,WI,Dane
7579,3/25/2018,Minnesota,Saint Paul,0,1,1,Saint Paul,Minnesota,MN,Ramsey
7580,3/26/2018,Missouri,Saint Louis,0,3,3,Saint Louis,Missouri,MO,St. Louis (city)
7581,3/26/2018,Oklahoma,Oklahoma City,0,1,1,Oklahoma City,Oklahoma,OK,Oklahoma
7582,3/26/2018,California,Long Beach,0,0,0,Long Beach,California,CA,Los Angeles
7583,3/26/2018,Minnesota,Walker,0,0,0,Walker,Minnesota,MN,Cass
7585,3/27/2018,California,Riverside,1,0,1,Riverside,California,CA,Riverside
7586,3/27/2018,Maryland,Gaithersburg,0,0,0,Gaithersburg,Maryland,MD,Montgomery
7587,3/28/2018,Washington,Seattle,2,0,2,Seattle,Washington,WA,King
7588,3/28/2018,Florida,Palm Beach Gardens,0,1,1,Palm Beach Gardens,Florida,FL,Palm Beach
7589,3/28/2018,Wyoming,Jackson,0,0,0,Jackson,Wyoming,WY,Teton
7590,3/28/2018,Kansas,Wichita,0,0,0,Wichita,Kansas,KS,Sedgwick
7591,3/28/2018,Wisconsin,Milwaukee,0,0,0,Milwaukee,Wisconsin,WI,Milwaukee
7592,3/28/2018,Maryland,Upper Marlboro,1,0,1,Upper Marlboro,Maryland,MD,Prince George's
7593,3/28/2018,Vermont,Bellows Falls,0,1,1,Bellows Falls,Vermont,VT,Windham
7594,3/29/2018,Utah,Salt Lake City,2,0,2,Salt Lake City,Utah,UT,Salt Lake
7595,3/29/2018,Florida,Homestead,0,1,1,Homestead,Florida,FL,Miami-Dade
7596,3/30/2018,Indiana,Indianapolis,1,0,1,Indianapolis,Indiana,IN,Marion
7598,3/30/2018,Oklahoma,Oklahoma City,0,1,1,Oklahoma City,Oklahoma,OK,Oklahoma
7601,3/30/2018,Florida,Fort Lauderdale,0,1,1,Fort Lauderdale,Florida,FL,Broward
7602,3/30/2018,Missouri,Chaffee,1,0,1,Chaffee,Missouri,MO,Scott

In [95]:
merged_data_5.to_csv('remaining_bracket_data.csv')

In [96]:
leftovers_na = merged_data_4[merged_data_4.isna().any(axis=1)]

In [97]:
leftovers_na

,date,state,my_citi,n_killed,n_injured,n_total,city_ascii,state_name,state_id,county_name
24,1/27/2014,New Jersey,Neptune,0,1,1,NaN,NaN,NaN,NaN
25,1/28/2014,Illinois,Dekalb,1,1,2,NaN,NaN,NaN,NaN
28,2/3/2014,Virginia,Mc Lean,1,0,1,NaN,NaN,NaN,NaN
33,2/9/2014,New York,Corona,0,1,1,NaN,NaN,NaN,NaN
43,3/6/2014,Washington,Tumtum,1,0,1,NaN,NaN,NaN,NaN
48,3/11/2014,Massachusetts,Middleboro,0,0,0,NaN,NaN,NaN,NaN
52,3/17/2014,New Jersey,Neptune,0,1,1,NaN,NaN,NaN,NaN
53,3/19/2014,Maryland,Curtis Bay,2,0,2,NaN,NaN,NaN,NaN
54,3/24/2014,Idaho,Coeur D Alene,2,0,2,NaN,NaN,NaN,NaN
66,4/19/2014,New York,Corona,1,0,1,NaN,NaN,NaN,NaN
70,5/4/2014,Oregon,Mount Hood Parkdale,1,0,1,NaN,NaN,NaN,NaN
71,5/8/2014,Arkansas,Hot Springs National Park,0,0,0,NaN,NaN,NaN,NaN
72,5/8/2014,Arkansas,Hot Springs National Park,0,0,0,NaN,NaN,NaN,NaN
73,5/11/2014,Pennsylvania,Mc Kees Rocks,0,1,1,NaN,NaN,NaN,NaN
75,5/17/2014,Arkansas,Hot Springs National Park,0,1,1,NaN,NaN,NaN,NaN
79,5/22/2014,Maryland,Brooklyn,0,1,1,NaN,NaN,NaN,NaN
83,5/26/2014,New Jersey,Neptune,0,2,2,NaN,NaN,NaN,NaN
88,5/30/2014,Michigan,Highland,0,0,0,NaN,NaN,NaN,NaN
100,6/16/2014,New Jersey,Neptune,0,0,0,NaN,NaN,NaN,NaN
101,6/16/2014,Pennsylvania,Wilkes Barre,0,0,0,NaN,NaN,NaN,NaN
102,6/17/2014,New Jersey,Neptune,0,0,0,NaN,NaN,NaN,NaN
113,7/4/2014,New Jersey,Neptune,0,0,0,NaN,NaN,NaN,NaN
129,7/20/2014,North Carolina,Winston Salem,1,2,3,NaN,NaN,NaN,NaN
130,7/20/2014,Illinois,Lovejoy,0,1,1,NaN,NaN,NaN,NaN
132,7/22/2014,Arkansas,Hot Springs National Park,0,1,1,NaN,NaN,NaN,NaN
134,7/26/2014,Pennsylvania,Mc Kees Rocks,1,0,1,NaN,NaN,NaN,NaN
150,8/13/2014,New Mexico,Zuni,0,0,0,NaN,NaN,NaN,NaN
152,8/16/2014,Oklahoma,Mcalester,1,0,1,NaN,NaN,NaN,NaN
157,8/25/2014,Arizona,Willow Beach,1,0,1,NaN,NaN,NaN,NaN
158,8/26/2014,New York,Corona,0,1,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7481,3/7/2018,Arkansas,Hot Springs National Park,1,0,1,NaN,NaN,NaN,NaN
7486,3/8/2018,North Carolina,Winston Salem,1,0,1,NaN,NaN,NaN,NaN
7498,3/10/2018,California,North Hollywood,2,0,2,NaN,NaN,NaN,NaN
7502,3/11/2018,New York,Corona,1,0,1,NaN,NaN,NaN,NaN
7506,3/12/2018,New York,Corona,0,3,3,NaN,NaN,NaN,NaN
7514,3/15/2018,New York,Corona,0,0,0,NaN,NaN,NaN,NaN
7515,3/16/2018,Pennsylvania,Mc Kees Rocks,1,0,1,NaN,NaN,NaN,NaN
7525,3/17/2018,North Carolina,Winston Salem,0,0,0,NaN,NaN,NaN,NaN
7530,3/18/2018,Arkansas,Hot Springs National Park,0,1,1,NaN,NaN,NaN,NaN
7544,3/21/2018,Idaho,Coeur D Alene,1,0,1,NaN,NaN,NaN,NaN
7545,3/21/2018,Arkansas,Hot Springs National Park,0,1,1,NaN,NaN,NaN,NaN
7547,3/21/2018,California,El Dorado,0,1,1,NaN,NaN,NaN,NaN
7549,3/22/2018,Arkansas,Hot Springs National Park,0,0,0,NaN,NaN,NaN,NaN
7551,3/22/2018,New York,Corona,0,2,2,NaN,NaN,NaN,NaN
7552,3/22/2018,New York,Corona,0,0,0,NaN,NaN,NaN,NaN
7553,3/22/2018,New York,Corona,1,0,1,NaN,NaN,NaN,NaN
7556,3/22/2018,Arkansas,Hot Springs National Park,1,0,1,NaN,NaN,NaN,NaN
7557,3/23/2018,Tennessee,Mc Ewen,0,1,1,NaN,NaN,NaN,NaN
7558,3/23/2018,Virginia,Henrico,0,0,0,NaN,NaN,NaN,NaN
7566,3/24/2018,New York,Corona,1,0,1,NaN,NaN,NaN,NaN
7569,3/24/2018,Arkansas,Hot Springs National Park,0,0,0,NaN,NaN,NaN,NaN
7571,3/24/2018,Michigan,Macomb,0,1,1,NaN,NaN,NaN,NaN
7575,3/25/2018,New York,Corona,0,0,0,NaN,NaN,NaN,NaN
7584,3/27/2018,New York,Corona,0,0,0,NaN,NaN,NaN,NaN
7597,3/30/2018,North Carolina,Winston Salem,1,0,1,NaN,NaN,NaN,NaN
7599,3/30/2018,New York,Corona,0,1,1,NaN,NaN,NaN,NaN
7600,3/30/2018,Arkansas,Hot Springs National Park,0,0,0,NaN,NaN,NaN,NaN
7603,3/31/2018,Maryland,#VALUE!,0,0,0,NaN,NaN,NaN,NaN
7604,3/31/2018,New York,#VALUE!,0,1,1,NaN,NaN,NaN,NaN
7605,3/31/2018,Washington,#VALUE!,0,0,0,NaN,NaN,NaN,NaN

In [98]:
leftovers_na.to_csv('leftovers_na.csv')

In [ ]:
shortdf['date'] = shortdf['date'].str[:-3]

In [ ]:
pldf = shortdf.groupby(['date']).sum()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(pldf)

In [ ]:
newdf = shortdf[~shortdf.date.str.contains("2013")]

In [ ]:
pldf = newdf.groupby(['date']).sum()

In [ ]:
plt.plot(pldf)

In [ ]:
newdf.groupby(['date']).sum()

In [ ]:
shortdf = df[['date', 'state', 'city_or_county', 'n_killed','n_injured']]
shortdf['n_total'] = shortdf['n_killed'] + shortdf['n_injured']

In [ ]:
shortdf

In [ ]:
countydf = shortdf[shortdf['city_or_county'].str.contains('(county)')]

In [ ]:
shortdf = shortdf[~shortdf.city_or_county.str.contains('(county)')]

In [ ]:
shortdf[shortdf['city_or_county'].str.contains('\(')]

In [ ]:
shortdf.city_or_county = shortdf.city_or_county.str.extract('([\s\w]*)\(*')

In [ ]:
shortdf

In [ ]:
county_city_df = pd.read_csv('uscitiesv1.5.csv')
county_city_df.head()

In [ ]:
county_city_df = county_city_df[['city','state_name','state_id','county_name']]
county_city_df

In [ ]:
merged_data = pd.merge(shortdf, county_city_df,  how='left', left_on=['state','city_or_county'], right_on = ['state_name','city'])

In [ ]:
merged_data

In [ ]:
df1 = merged_data[merged_data.isna().any(axis=1)]

In [ ]:
df1

In [ ]:
county_city_df_new = pd.read_csv('uscitiesv.csv')

In [ ]:
county_city_df_new = county_city_df_new[['city_ascii','state_name','state_id','county_name']]
county_city_df_new

In [ ]:
df1 = df1[['date', 'state', 'city_or_county', 'n_killed','n_injured','n_total']]

In [ ]:
merged_data_second = pd.merge(df1, county_city_df_new,  how='left', left_on=['state','city_or_county'], right_on = ['state_name','city_ascii'])

In [ ]:
merged_data_second

In [ ]:
merged_data_second.to_csv('out.csv', index=False)

In [ ]:
df = pd.read_csv('gun-violence-data_01-2013_03-2018.csv')

In [ ]:
new_test = df[['date', 'state', 'city_or_county', 'n_killed','n_injured']]

In [ ]:
text = new_test[~shortdf.city_or_county.str.contains('(county)')]